<div ng-controller="ConductorController as vm" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-2" style="border-radius: 25px">
            <BR>
                <div class="row center" ng-hide="vm.carga">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </div>

            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de Conductores</h2>
                        <div class="chip" ng-show="vm.activos && (vm.ConductoresInactivos.length > 0)">
                            <img src="../assets/images/cnd.png" alt="Conductores">
                            <a style="color: black" href="javascript:;" ng-click="vm.activos = false" >Mostrar coductores sin habilitar</a>
                        </div>
                        <div class="chip" ng-hide="vm.activos">
                            <img src="../assets/images/cnd.png" alt="Conductores">
                            <a style="color: black" href="javascript:;" ng-click="vm.activos = true" >Mostrar coductores Activos</a>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12 grey lighten-3" style="padding: .5em; border-radius: 15px; height: 37px">
                            <i class="material-icons prefix" style="color: #D50000;">search</i>
                            <input  id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Buscar</label>
                        </div>
                    </div>
                </div>
                <div id="conductores-inactivos" class="row" ng-hide="vm.activos">
                    <div class="col s12">
                        <table class="striped bordered responsive-table">
                            <thead>
                            <th style="color: red; text-aling:center"></th>
                            <th style="color: red; text-aling:center">Identificaci&oacute;n</th>

                            <th style="color: red; text-aling:center">Nombres</th>
                            <th style="color: red; text-aling:center">Apellidos</th>
                            <th style="color: red; text-aling:center">Direcci&oacute;n</th>
                            <th style="color: red; text-aling:center">Telefono</th>
                            <!--<th style="color: red; text-aling:center">Central</th>-->
                            </thead>
                            <tbody>
                            <tr ng-repeat="conductor in vm.ConductoresInactivos | filter : filtro" ng-show="vm.carga">
                                <td>
                                    <img id="imagen{{conductor.id}}" ng-src="http://{{conductor.imagen}}" class="circle" style="width:32px; height: 32px; border-radius: 50%">
                                </td>
                                <td>{{conductor.identificacion}}</td>

                                <td>{{conductor.nombres}}</td>
                                <td>{{conductor.apellidos}}</td>
                                <td>{{conductor.direccion}}</td>
                                <td>{{conductor.telefono}}</td>
                                <td>
                                    <a title="ver" href="javascript:" ng-click="vm.modificar(conductor)">
                                        <i style="color: #64dd17" class="material-icons prefix">visibility</i>
                                    </a>
                                    <a title="Habilitar" href="javascript:" ng-click="vm.openhabilitar(conductor)">
                                        <i class="material-icons">done_all</i>
                                    </a>
                                        <!--<a title="Inhabilitar" href="javascript:" ng-click="vm.eliminar(conductor.id)">-->
                                            <!--<i class="material-icons prefix" style="color:#c62828">delete</i>-->
                                        <!--</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="conductores-activos" class="row" ng-show="vm.activos">
                    <div class="col s12">
                        <table class="striped bordered responsive-table">
                            <thead>
                            <th style="color: red; text-align: center"></th>
                            <th style="color: red; text-align: center">Identificaci&oacute;n</th>

                            <th style="color: red; text-align: center">Nombres</th>
                            <th style="color: red; text-align: center">Apellidos</th>
                            <th style="color: red; text-align: center">Direcci&oacute;n</th>
                            <th style="color: red; text-align: center">Telefono</th>
                            <th style="color: red; text-align: center">Central</th>
                         
                            </thead>
                            <tbody>
                                <tr ng-repeat="conductor in vm.Conductores | filter : filtro">
                                    <td style="text-align: center">
                                        <img id="imagena{{conductor.id}}" ng-src="http://{{conductor.imagen}}" class="circle profile animated" style="width:32px; height: 32px; border-radius: 50%">
                                    </td>
                                    <td style="text-align: center">{{conductor.identificacion}}</td>
                                    <td style="text-align: center">{{conductor.nombres}}</td>
                                    <td style="text-align: center">{{conductor.apellidos}}</td>
                                    <td style="text-align: center">{{conductor.direccion}}</td>
                                    <td style="text-align: center">{{conductor.telefono}}</td>
                                    <td style="text-align: center">{{conductor.central.ciudad.nombre}}</td>
                                    <td style="text-align: center">
                                        <a title="Ver" href="javascript:" ng-click="vm.modificar(conductor)">
                                            <i class="material-icons prefix" style="color: #64dd17">visibility</i>
                                        </a>
                                        <a title="Inhabilitar" href="javascript:" ng-click="vm.eliminar(conductor.id)">
                                            <i class="material-icons prefix" style="color:#c62828">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-show="vm.activos">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="vm.nuevoConductor()">
            <i class="material-icons">add</i>
        </a>
    </div>

    <!--Modal nuevo conductor-->
    <div id="modalNuevoConductor" class="modal modal-fixed-footer" style="width: 80%;min-height:85%;">
        <div class="modal-content">
            <h2>{{vm.titulo}}</h2>
            <div class="row">
                <div class="col s8">
                    <form class="col s12" name="formConductor" id="formConductor">
                        <div class="row">
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                <i class="material-icons prefix" style="color: #D50000">payment</i>
                                    <input style="border-radius: 15px" id="icon_payment" type="text" class="validate" name="identificacion" ng-model="vm.Conductor.identificacion" ng-readonly="!vm.activos">
                                <label for="icon_payment" class="{{vm.active}}">Identificación</label>
                            </div>
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px;">
                                <i class="material-icons prefix" style="color: #D50000">account_circle</i>
                                <input style="border-radius: 15px" id="icon_person" type="text" class="validate" name="nombres"ng-model="vm.Conductor.nombres" ng-readonly="!vm.activos">
                                <label for="icon_person" class="{{vm.active}}">Nombres</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                <i class="material-icons prefix" style="color: #D50000">account_circle</i>
                                <input style="border-radius: 15px" id="icon_person2" type="text" class="validate" name="apellidos" ng-model="vm.Conductor.apellidos" ng-readonly="!vm.activos">
                                <label for="icon_person2" class="{{vm.active}}">Apellidos</label>
                            </div>
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px">
                                <i class="material-icons prefix" style="color: #D50000">person_pin_circle</i>
                                <input style="border-radius: 15px" id="icon_pain" type="text" class="validate" name="direccion" ng-model="vm.Conductor.direccion" ng-readonly="!vm.activos">
                                <label for="icon_pain" class="{{vm.active}}">Dirección</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                <i class="material-icons prefix" style="color: #D50000">phone</i>
                                <input style="border-radius: 15px" id="icon_phone" type="text" class="validate" name="telefono" ng-model="vm.Conductor.telefono" ng-readonly="!vm.activos">
                                <label for="icon_phone" class="{{vm.active}}">Teléfono</label>
                            </div>
                            <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px">
                                <i class="material-icons prefix" style="color: #D50000">contact_mail</i>
                                <input style="border-radius: 15px" id="icon_mail2" type="text" class="validate" name="correo" ng-model="vm.Conductor.correo" ng-readonly="!vm.activos">
                                <label for="icon_mail2" class="{{vm.active}}">Correo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10" ng-hide="vm.mode == 'edit' && !vm.activos">
                                <i class="material-icons prefix" style="color: #D50000">flag</i>
                                <select class="browser-default validate" name="central" id="central"
                                        ng-options="central.ciudad.nombre for central in vm.centrales"
                                        ng-model="vm.Conductor.central" required  style="margin-left: 42px;">
                                    <option value="" disabled selected>Seleccione Central</option>
                                </select>
                                <label for="central" class="active">Central</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s4">
                    <div class="col s12 center" id="image" style="position: relative; width: 300px;height: 300px; border-radius: 50%;background: grey">
                        <center>
                        <img  ng-show="false"src="http://{{vm.Conductor.imagen}}" title="imagen" class="circle" style="width:300px; height: 300px; border-radius: 50%"/>
                        </center>
                    </div>
                    <div class="file-field input-field col s12" ng-show="vm.activos">
                        <div class="btn col s12 red accent-4" style="border-radius: 25px">
                            <span><i class="mdi-image-photo-camera" style="color: white"></i></span>
                            <input style="color: red;" id="files" uploader-model="vm.fileimage" type="file">
                        </div>
                        <div class="file-path-wrapper">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row"  ng-hide="vm.mode == 'edit' && vm.activos">
                    <div class="col s12">
                        <div class="input-field">
                            <i class="material-icons prefix" style="padding-left: 3px;">local_taxi</i>

                            <h2 style="padding-left: 45px; padding-top: 3px">Datos del vehiculo</h2>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s8">
                                <form class="col s12" name="formDatosVechivulo" id="formDatosVechivulo" ng-hide="!vm.Vehiculo && !vm.activos">
                                    <div class="row">
                                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix">payment</i>
                                            <input style="border-radius: 15px" id="icon_payment2" type="text" class="validate" name="propietario" ng-model="vm.Vehiculo.identificacion_propietario">
                                            <label for="icon_payment2" class="{{vm.active}}">Identificacion propietario</label>
                                        </div>
                                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px">
                                            <i style="color: #D50000" class="material-icons prefix">person</i>
                                            <input style="border-radius: 15px" id="icon_person3" type="text" class="validate" name="nombreP" ng-model="vm.Vehiculo.nombre_propietario">
                                            <label for="icon_person3" class="{{vm.active}}">Nombres propietario</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix" >phone</i>
                                            <input style="border-radius: 15px" id="icon_phone1" type="text" class="validate" name="phone" ng-model="vm.Vehiculo.tel_propietario">
                                            <label for="icon_phone1" class="{{vm.active}}">Telefono</label>
                                        </div>
                                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px">
                                            <i style="color: #D50000" class="material-icons prefix">payment</i>
                                            <input style="border-radius: 15px" id="icon_payment3" type="text" class="validate" name="placa" ng-model="vm.Vehiculo.placa">
                                            <label for="icon_payment3" class="{{vm.active}}">Placa</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix">local_taxi</i>
                                            <input style="border-radius: 15px" id="icon_person31" type="text" class="validate" name="modelo" ng-model="vm.Vehiculo.modelo">
                                            <label for="icon_person31" class="{{vm.active}}">Modelo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s4" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix" >event_seat</i>
                                            <input style="border-radius: 15px" id="icon_cupo" type="text" class="validate" name="cupos" ng-model="vm.Vehiculo.cupos">
                                            <label for="icon_cupo" class="{{vm.active}}">Cupos</label>
                                        </div>
                                        <div class="input-field col s3" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix">invert_colors_off</i>
                                            <input style="border-radius: 15px" id="icon_person23" type="text" class="validate" name="color"  ng-model="vm.Vehiculo.color">
                                            <label for="icon_person23" class="{{vm.active}}">Color</label>
                                        </div>
                                        <div class="input-field col s3" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                                            <i style="color: #D50000" class="material-icons prefix">airport_shuttle</i>
                                            <input style="border-radius: 15px" id="icon_person4" type="text" class="validate" name="vial"  ng-model="vm.Vehiculo.codigo_vial">
                                            <label for="icon_person4" class="{{vm.active}}">C. vial</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <i  class="material-icons prefix">payment</i>
                                            Documentación del vehículo
                                        </div>

                                        <div class="row col s6">
                                            <fieldset style="border-radius: 25px">
                                                <div class="col s12">
                                                    <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                                        <input style="border-radius: 15px;" type="checkbox" ng-model="vm.Vehiculo.soat" id="soat"/>
                                                        <label for="soat">SOAT</label>
                                                    </p>
                                                </div>
                                                <div class="col s12">
                                                    <p>Fecha de vencimiento</p>
                                                    <input style="border-radius: 15px" type="date" class="datepicker" name="fecha_soat" ng-model="vm.Vehiculo.fecha_soat" id="fecha_soat"  ui-date="{ dateFormat: 'yy-MM-DD' }" min-date="minDate">
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="row col s6">
                                            <fieldset style="border-radius: 25px">
                                                <div class="col s12">
                                                    <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                                        <input style="border-radius: 15px" type="checkbox" ng-model="vm.Vehiculo.tecnomecanica" id="tecnomecanica"/>
                                                        <label for="tecnomecanica">TECNOMECANICA</label>
                                                    </p>
                                                </div>
                                                <div class="col s12">
                                                    <p>Fecha de vencimiento</p>
                                                    <input style="border-radius: 15px" type="date" class="datepicker" name="fecha_tecnomecanica" ng-model="vm.Vehiculo.fecha_tecnomecanica" id="fecha_tecnomecanica"  ui-date="{ dateFormat: 'yy-MM-DD' }" min-date="minDate">
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="row col s6">
                                            <fieldset style="border-radius: 25px">
                                                <div class="col s12">
                                                    <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                                        <input style="border-radius: 15px" type="checkbox" ng-model="vm.Vehiculo.tarjeta_propiedad" id="tpropiedad"/>
                                                        <label for="tpropiedad">TARJETA DE PROPIEDAD</label>
                                                    </p>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                                <p ng-show="!vm.Vehiculo && !vm.activos">No se an  reistrado datos del veiihculo</p>
                            </div>

                            <div class="col s4" >
                                <div align="center" class="col s12" id="imagev" style="position: relative; width: 300px;height: 300px; border-radius: 50%;background: grey">
                                    <!--<h2 style="color: white; position: absolute;width: 300px; height: 300px ;left: 0; top: 0">SELECCIONAR FOTO</h2>-->
                                    <!--<img class="center" id="imagen" style="width:300px; height: 300px; border-radius: 50%" ng-src="http://{{Vehiculo.imagen}}" title="imagen"/>-->
                                </div>
                                <div class="file-field input-field col s12">
                                    <div class="btn col s12 red accent-4" style="border-radius: 25px">
                                        <span><i class="mdi-image-photo-camera"></i></span>
                                        <input id="filesv" uploader-model="vm.fileimageV" type="file" name="filesv">
                                    </div>
                                    <div class="file-path-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--{{formConductor | json}}-->

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;border-radius: 25px">Salir</a>
            <a class="waves-effect waves-light btn light-green accent-4" ng-show="vm.mode == 'new'" ng-click="vm.guardar()" ng-class="{'disabled': formConductor.$invalid}" style="margin-left:10px; border-radius: 25px">
                Guardar</a>
            <a class="waves-effect waves-light btn light-green accent-4" ng-show="vm.mode == 'edit' && vm.activos" ng-click="vm.update()" ng-class="{'disabled': formConductor.$invalid}" style="margin-left:10px;border-radius: 25px">
                Modificar</a>
            <a class="waves-effect waves-light btn light-green accent-4" ng-show="vm.mode == 'hbltr'" ng-click="vm.habilitar()" ng-class="{'disabled': formConductor.$invalid}" style="margin-left:10px;border-radius: 25px">
                Habilitar</a>
            <a class="waves-effect waves-light btn light-blue lighten-2 " ng-hide="!vm.activos && vm.mode != 'new'" ng-click="vm.Conductor = {}; vm.Vehiculo ={}; " style="margin-left:10px;border-radius: 25px">
                Limpiar </a>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        function archivo(evt) {
            var files = evt.target.files;

            //Obtenemos la imagen
            for (var i = 0, f; f = files[i]; i++) {
                //Solo imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        // se crea la imagen
                        document.getElementById("image").innerHTML = ['<img class="center" style="width:300px; height: 300px; border-radius: 50%; position: absolute; left: 0; top: 0" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }

        function archivov(evt) {
            var files = evt.target.files;

            //Obtenemos la imagen
            for (var i = 0, f; f = files[i]; i++) {
                //Solo imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        // se crea la imagen
                        document.getElementById("imagev").innerHTML = ['<img class="center" style="width:300px; height: 300px; border-radius: 50%; position: absolute; left: 0; top: 0" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', archivo, false);
        document.getElementById('filesv').addEventListener('change', archivov, false);

        $('#files').change(function () {
            //obtenemos un array con los datos del archivo
            var file = $("#files")[0].files[0];
            //obtenemos el nombre del archivo
            var fileName = file.name;
            //obtenemos la extensión del archivo
            fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            //obtenemos el tamaño del archivo
            var fileSize = file.size;
            //obtenemos el tipo de archivo image/png ejemplo
            var fileType = file.type;

            $("#cambiar").show();
            //mensaje con la información del archivo
            // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        });

        $('#filesv').change(function () {
            //obtenemos un array con los datos del archivo
            var file = $("#filesv")[0].files[0];
            //obtenemos el nombre del archivo
            var fileName = file.name;
            //obtenemos la extensión del archivo
            fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            //obtenemos el tamaño del archivo
            var fileSize = file.size;
            //obtenemos el tipo de archivo image/png ejemplo
            var fileType = file.type;

            $("#cambiar").show();
            //mensaje con la información del archivo
            // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        });

    });
</script>