<div ng-controller="deduccionesController as vm" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-2" style="border-radius: 25px">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Deducciones</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12 grey lighten-3" style="padding: .5em; border-radius: 15px; height: 37px">
                            <i class="material-icons prefix" style="color: #D50000;">search</i>
                            <input  id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Buscar</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered responsive-table">
                            <thead >
                                <th style="text-align: center; color: #D50000;">Nombre</th>
                                <th style="text-align: center; color: #D50000;">Valor</th>
                                <th style="text-align: center; color: #D50000;">Estado</th>
                                <th style="text-align: center; color: #D50000;">Acciones</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deduccion in vm.Deducciones | filter : filtro">
                                <td style="text-align: left">{{deduccion.nombre}}</td>
                                <td style="text-align: center">{{deduccion.valor | currency}}</td>
                                <td style="text-align: center">
                                    <div class="switch center">
                                        <label>
                                            <input ng-model="vm.deduccion.estado" type="checkbox" ng-checked="{{deduccion.estado}}" ng-click="vm.updateEstado(deduccion)">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <a href="javascript:" ng-click="vm.modificar(deduccion)">
                                        <i style="color: #64dd17" class="material-icons prefix">visibility</i>
                                    </a>
                                    <a href="javascript:" ng-click="vm.eliminar(deduccion.id)">
                                        <i class="material-icons prefix" style="color:#c62828">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="vm.nuevaDeduccion()">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="modalNuevaDeduccion" class="modal modal-fixed-footer" style="height: 380px; width: 650px">
        <form name="formDeduccion">
            <div class="modal-content" style="padding-left: 50px">
                <h2>{{vm.titulo}}</h2>
                <div class="row">
                    <div class="row" >
                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                            <i style="color: #D50000" class="material-icons prefix">label</i>
                            <input id="icon_person2" type="text" class="validate" name="nombre"ng-model="vm.Deduccion.nombre">
                            <label for="icon_person2" class="{{vm.active}}">Nombre</label>
                        </div>
                        <div class="input-field col s5" >
                            <div class="switch">
                                <label>
                                    Desactivado
                                    <input name="estado" type="checkbox" ng-model="vm.Deduccion.estado" ng-checked="{{vm.Deduccion.estado}}">
                                    <span class="lever"></span>
                                    Activado
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                            <i style="color: #D50000" class="material-icons prefix">receipt</i>
                            <input id="icon_person1" type="text" class="validate" name="descripcion"ng-model="vm.Deduccion.descripcion">
                            <label for="icon_person1" class="{{vm.active}}">Descipción</label>
                        </div>
                        <div class="input-field col s5" style="border: 1px solid grey; border-radius: 15px; margin-right: 30px">
                            <i style="color: #D50000" class="material-icons prefix">attach_money</i>
                            <input id="icon_person3" type="text" class="validate" name="valor" ng-model="vm.Deduccion.valor">
                            <label for="icon_person3" class="{{vm.active}}">Valor</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red accent-4"
                   style="margin-left:10px; border-radius: 25px">Salir</a>
                <input style="border-radius: 25px" type="button" class="waves-effect waves-light btn light-green accent-4" ng-click="vm.guardar()" ng-hide="vm.editMode"
                       ng-disabled="!formDeduccion.$valid" value="Guardar">
                <input style="border-radius: 25px" type="button" class="waves-effect waves-light btn light-green accent-4" ng-click="vm.update()" ng-show="vm.editMode"
                       ng-disabled="!formDeduccion.$valid" value="Modificar">
            </div>
        </form>
    </div>


</div>