<div ng-controller="ActividadesController as vm" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-2" style="border-radius: 15px">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Agendar Actividades</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12" style="padding: .5em">
                            <i class="material-icons prefix" style="color: red;">search</i>
                            <input style="border-radius: 15px; " class="grey lighten-3" id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Buscar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered responsive-table">
                            <thead>
                            <th style="color: red;text-align: center" >Fecha</th>
                            <th style="color: red;text-align: center">Hora</th>
                            <th style="color: red;text-align: center">Actividad</th>
                            <th style="color: red;text-align: center"></th>
                            <th style="color: red;text-align: center"></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="actividad in vm.actividades| filter : filtro | orderBy : 'fecha'">
                                <td style="text-align: center">{{actividad.fecha | esdate: 'short'}}</td>
                                <td style="text-align: center">{{actividad.fecha | date: 'hh:mm a'}}</td>
                                <td style="text-align: center">{{actividad.nombre}}</td>
                                <td style="text-align: center">{{actividad.estado}}</td>
                                <td style="text-align: center">
                                    <a href="javascript:" ng-click="vm.actualizar(actividad)">
                                        <i class="material-icons prefix">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="vm.actividadesFinalizadas.length > 0 && vm.actividades.length > 0">
                                <td style="text-align: center" colspan="5"></td>
                            </tr>
                            <tr ng-repeat="actividad in vm.actividadesFinalizadas| filter : filtro | orderBy : 'fecha' : reverse">
                                <td style="text-align: center">{{actividad.fecha | date: 'MMMM d'}}</td>
                                <td style="text-align: center">{{actividad.fecha | date: 'hh:mm a'}}</td>
                                <td style="text-align: center">{{actividad.nombre}}</td>
                                <td style="text-align: center">{{actividad.estado}}</td>
                                <td style="text-align: center">
                                    <a href="javascript:" ng-click="vm.actualizar(actividad)">
                                        <i class="material-icons prefix" style="color: #64dd17">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="vm.nuevo()">
            <i class="material-icons">add</i>
        </a>
    </div>


    <!--modal nuevo central-->
    <div id="modalNuevaActividad" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h2>{{vm.nombreForm}}</h2>
            <div class="row">
                <form class="col s12" name="formNuevaActividad">
                    <div class="row col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix" style="color: red">fiber_new</i>
                                <input style="border-radius: 15px" id="nombre" type="text" class="validate" name="nombre" ng-model="vm.selectedActividad.nombre">
                                <label for="nombre" class="{{vm.active}}">Nombre</label>
                            </div>
                            <div class="input-field col s6" ng-hide="vm.editMode">
                                <input style="border-radius: 15px" id="estado" type="text" class="validate" name="estado" ng-model="vm.selectedActividad.estado" required readonly>
                                <label for="estado" class="active">Estado</label>
                            </div>
                            <div class="input-field col s6" ng-show="vm.editMode">
                                <select style="border-radius: 15px" class="browser-default" name="selectestado" id="selectestado" ng-show="vm.editMode"
                                        ng-model="vm.selectedActividad.estado" required>
                                    <option value="Pendiente"> Pendiente</option>
                                    <option value="Finalizada"> Finalizada</option>
                                    <option value="Cancelada"> Cancelada</option>
                                </select>
                                <label for="selectestado" class="active">Estado</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix" style="color: red">date_range</i>
                                <input style="border-radius: 15px" id="fecha" type="date" class="datepicker validate" name="fecha"  ng-model="vm.selectedActividad.fecha" required>
                                <label for="fecha" class="active">Fecha</label>
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix" style="color: red">alarm</i>
                                <input style="border-radius: 15px" id="hora" type="time" name="hora"  ng-model="vm.selectedActividad.hora" required>
                                <label for="hora" class="active">Hora</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: red">description</i>
                                <textarea style="border-radius: 15px" id="descripcin" class="materialize-textarea" name="descripcin"
                                          ng-model="vm.selectedActividad.descripcion" length="250" maxlength="250"></textarea>
                                <label for="descripcin" class="{{vm.active}}">Descripcion</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="modal-footer">
            <a style="border-radius: 25px;" href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red "
               style="margin-left:10px;">Salir</a>
            <a style="border-radius: 25px;margin-right: 10px;" class="waves-effect waves-light btn light-green accent-4" ng-class="{'disabled': formNuevaActividad.$invalid}" ng-hide="vm.editMode"
               ng-click="vm.guardar()">Guardar</a>
            <a style=" border-radius: 25px;margin-right: 10px" class="waves-effect waves-light btn light-green accent-4" ng-class="{'disabled': formNuevaActividad.$invalid}" ng-show="vm.editMode"
               ng-click="vm.update()">Modificar</a>
        </div>

    </div>
</div>