<div class="navbar-fixed">
    <nav style="height:60px;line-height: 60px; ">
        <div class="nav-wrapper red accent-4">
            <a style="float:left;margin-top:10px;margin-left:10px;width:40px; height:40px;border-radius:6px;text-align: center;"
               class="waves-effect waves-light" onclick="abrirMenu();">
                <i style="line-height:35px;" class="mdi-navigation-menu"></i>
            </a>
            <a href="#/" class="brand-logo" style="margin-left:5px;margin-top:10px;">
                <img src="../assets/images/logo-positivo.png" style="width: 180px;">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="javascript:;" class="waves-effect waves-light"><i class="material-icons left"
                                                                               style="font-size:18px;">today</i>{{vm.hoy | esdate: 'full'}}</a>
                </li>
                <li><a href="javascript:;" class="waves-effect waves-light" ng-click="vm.cerrarSesion();"><i
                        class="material-icons left" style="font-size:18px;">input</i>Salir</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="nav-bar">
    <ul id="slide-out" class="side-nav fixed" style="width: 220px;margin-top: 60px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
        <li class="no-padding">
            <ul>
                <li style="color:white;">
                    <div style="text-align:center;padding-top: 30px;padding-left: 10px;" class="center">
                        <img alt="image" style="border:2px solid red; border-radius: 50%;"
                             ng-src="http://{{vm.userImagen}}" width="60px;" height="60px">
                        <div style="color:red;font-weight:900;margin-top:-20px;">{{vm.userNombre}}</div>
                        <div style="color:black;margin-top:-25px;font-size:12px;">{{vm.userRol}}</div>
                    </div>
                </li>
            </ul>
        </li>

        <div class="nav-collapse collapse center" ng-controller="MenuCtrl as vm" style="word-wrap: break-word">
            <section id="sidebar" class="center grey darken-2">
                <ul id="dock">
                    <!--<li class="launcher"></li>-->
                    <li ng-repeat="op in vm.menu" class="launcher" style="border-bottom:1px solid #fff;">
                        <i style="color: white" class="large material-icons">{{op.icon}}</i>
                        <a style="color: white" ui-sref="{{op.link}}" id="{{op.id}}">{{op.nombre}}</a>
                    </li>
                </ul>
            </section>
        </div>
    </ul>
</div>
<div ui-view id="container" style="padding-left:220px">
</div>


<script>
    var abierto;
    $(document).ready(function () {
        abierto = true;
        var alto = $(window).height();
        document.getElementById('slide-out').style.height = alto - 40 + "px";
    });
    function abrirMenu() {
        if (abierto) {
            $("#slide-out").animate({"left": "-=220px"}, 300);
            $("#container").animate({"padding-left": "-=220px"}, 300);
            abierto = false;
        } else {
            abierto = true;
            $("#slide-out").animate({"left": "+=220px"}, 300);
            $("#container").animate({"padding-left": "+=220px"}, 300);
        }
    }
</script>

<style type="text/css">
    #sidebar {
        /*background-color: #2c3e50;*/
        width: 100%;
        z-index: 1;
        text-align: center;
    }
    #sidebar ul#dock {
        margin: -15px 0 0 0;
        padding: 0;
        width: 100%;
        text-align: center;
        /*color: #ecf0f1;*/
        border-right: 1px solid #1a242f;
    }
    #sidebar ul#dock li.launcher {
        list-style: none;
        margin-top: 25px;
        cursor: pointer;
    }
    #sidebar ul#dock li.launcher>i {
        display: block;
        font-size: 2.5em;
        margin-bottom: -2px;
    }
</style>