<div class="navbar-fixed">
    <nav style="height:60px;line-height: 60px; ">
        <div class="nav-wrapper red accent-4">
            <a style="float:left;margin-top:10px;margin-left:10px;width:40px; height:40px;border-radius:6px;text-align: center;"
               class="waves-effect waves-light" onclick="abrirMenu();">
                <i style="line-height:35px;" class="mdi-navigation-menu"></i>
            </a>
            <a href="#/homeUsuario" class="brand-logo" style="margin-left:5px;margin-top:10px;">
                <img src="../assets/images/logo-positivo.png" style="width: 180px;">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="javascript:;" class="waves-effect waves-light"><i class="material-icons left"
                                                                               style="font-size:18px;">today</i>{{vm.hoy | esdate: 'full'}}</a>
                </li>
                <li><a href="javascript:;" class="waves-effect waves-light" ng-click="vm.cerrarSesion();"><i
                        class="material-icons left" style="font-size:18px;">input</i>Salir</a></li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <ul id="slide-out" class="side-nav fixed grey darken-2" style="width: 220px;margin-top: 60px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
        <li class="no-padding">
            <ul>
                <li class="user ">
                    <div style="text-align:left;padding-top: 30px;padding-left: 10px;" >
                        <img alt="image" style="border:2px solid #FFFFFF; border-radius: 50%;"
                             ng-src="http://{{vm.userImagen}}" width="60px;" height="60px">
                        <div style="color:white;font-weight:900;margin-top:-20px;">{{vm.userNombre}}</div>
                        <div style="color:white;margin-top:-25px;font-size:12px;">{{vm.userRol}}</div>
                    </div>
                </li>
            </ul>
        </li>

        <div class="nav-collapse collapse" ng-controller="MenuCtrl as vm" style="word-wrap: break-word">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li ng-repeat="op in vm.menu" ng-class="{'dropdown-submenu' : op.submenu && op.submenu.length}">
                    <i style="color: white" class="material-icons left">{{op.icon}}</i>
                    <a style="color: white" ui-sref="{{op.link}}" id="{{op.id}}">{{op.nombre}}</a>
                    <ul ng-if="op.submenu && op.submenu.length" class="dropdown-menu">
                        <li ng-repeat="submenu in op.submenu">
                            <i style="color: white" class="material-icons left">{{submenu.icon}}</i>
                            <a style="color: white" ui-sref="{{submenu.link}}" id="{{submenu.id}}">{{submenu.nombre}}</a>
                            <ul ng-if="submenu.subsubmenu && submenu.subsubmenu.length" class="dropdown-menu">
                                <li ng-repeat="subsubmenu in submenu.subsubmenu">
                                    <a style="color: white" ui-sref="{{subsubmenu.link}}" id="{{subsubmenu.id}}">{{subsubmenu.nombre}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ul>
</div>
<div ui-view id="container" style="padding-left:220px">
</div>


<script>
    var abierto;
    $(document).ready(function () {
        abierto = true;
        var alto = $(window).height();
        document.getElementById('slide-out').style.height = alto - 40 + "px";
    });
    function abrirMenu() {
        if (abierto) {
            $("#slide-out").animate({"left": "-=220px"}, 300);
            $("#container").animate({"padding-left": "-=220px"}, 300);
            abierto = false;
        } else {
            abierto = true;
            $("#slide-out").animate({"left": "+=220px"}, 300);
            $("#container").animate({"padding-left": "+=220px"}, 300);
        }
    }
</script>