<div class="contenedor" ng-controller="auditoriaController as vm">
    <div class="row white">
        <div class="col s12 z-depth-2" style="border-radius: 25px">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Auditoria</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="row col s8">
                        <div class="input-field col s11">
                            <i class="material-icons prefix"style="margin-left: -10px; color: #D50000">flag</i>
                            <select class="browser-default" name="central" id="central"
                                    ng-options="central.ciudad.nombre for central in vm.centrales"
                                    ng-model="vm.central" required  style="margin-left: 20px; width: 530px" ng-change="vm.selectedChanged(vm.central)">
                                <option value="" disabled selected>Seleccione Central</option>
                            </select>
                            <label for="central" class="active" style="margin-left: 20px;">Central</label>
                        </div>
                    </div>
                </div>

                <div ng-show="vm.mostra">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li style="color: #D50000" class="tab col s3" class="active"><a href="#producidos">Producidos {{vm.central.ciudad.nombre}}</a></li>
                                <li class="tab col s3"><a href="#vehiculos">Vehiculos {{vm.central.ciudad.nombre}}</a></li>
                            </ul>
                        </div>
                        <div id="producidos" class="col s12"><br>
                            <div class="input-field col s3" style="border: 1px solid grey;border-radius: 15px;margin-right: 20px">
                                <input type="date" class="datepicker" ng-model="vm.fechaI">
                                <label >Fecha inicial</label>
                            </div>
                            <div class="input-field col s3" style="border: 1px solid grey;border-radius: 15px">
                                <input type="date" class="datepicker" ng-model="vm.fechaF">
                                <label >Fecha final</label>
                            </div>
                            <div class="input-field col s1" title="Consultar" style="border: none">
                                <a href="javascript:;" ng-click="vm.producidosFecha(vm.fechaI, vm.fechaF)">
                                    <i style="color: #D50000" class="material-icons prefix">search</i>
                                </a>
                            </div>
                            <br><br><br>
                            <div ng-hide="vm.todo" class="center">
                                {{vm.mensaje}}
                            </div>
                            <div class="row" ng-show="vm.todo">
                                <div style="float: left">
                                    <p><strong>CANTIDAD DE REGISTROS EN LA(S) FECHA(S) ESCOGIDA: {{vm.cantidad}}</strong></p>
                                </div>
                                <div style="float: right">
                                    <p><strong>TOTAL PRODUCDIDO EN LA(S) FECHA(S) ESCOGIDA: {{vm.total | currency}}</strong></p>
                                </div>
                            </div>

                            <div class="row" ng-show="vm.todo">
                                <hr style="width: 100%; color: #D50000">
                                <div class="col s12">
                                    <table class="striped bordered responsive-table">
                                        <thead class="center">
                                            <th style="color: #D50000; text-align: center">Numero de planilla</th>
                                            <th style="color: #D50000; text-align: center">Fecha</th>
                                            <th style="color: #D50000; text-align: center">Valor</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="producido in vm.producidos_fecha | filter : filtro">
                                                <td style="text-align: center">{{producido.numero_planilla}}</td>
                                                <td style="text-align: center">{{producido.fecha}}</td>
                                                <td style="text-align: center">{{producido.total | currency}}</td>
                                                <td style="text-align: center">
                                                    <a href="javascript:" ng-click="vm.verPlanilla(producido)">
                                                        <i style="color: #9ccc65" class="material-icons prefix">visibility</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div id="vehiculos" class="col s12"><br>
                            <div class="input-field col s2">
                                <input type="text" ng-model="vm.codigo_vial">
                                <label >CODIGO VIAL</label>
                            </div>
                            <div class="input-field col s1" title="Consultar vehiculo" style="border: none">
                                <a href="javascript:;" ng-click="vm.producidosVehiculo(vm.codigo_vial)">
                                    <i style="color: #D50000" class="material-icons prefix">search</i>
                                </a>
                            </div>
                            <div class="input-field col s1" title="Consultar todos" style="margin-left: -45px; border: none">
                                <a href="javascript:;" ng-click="vm.producidosTodosVehiculo()">
                                    <i style="color: #D50000" class="material-icons prefix">autorenew</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal planilla-->
    <div id="modalPlanilla" class="modal" style="width: 90%;min-height:85%;">
        <div class="modal-content" id="planilla" >
            <body id="bodyPlanilla">
            <header class="clearfix" id="headerPlanilla">
                <div id="logo">
                    <img alt="image"
                         ng-src="http://{{vm.userImagen}}" width="90px;">
                </div>
                <h1 id="h1Planilla">PLANILLA N° {{vm.planilla.numero_planilla}}</h1>
                <div id="company" class="clearfix">
                    <div>Cootrasan</div>
                    <div>Fonseca - La Guajira,<br /> Call 13 #21-34</div>
                    <div> 7755813</div>
                </div>
                <div id="project">
                    <div><span>CONDUCTOR: </span> {{vm.planilla.conductor.nombres}} {{vm.planilla.conductor.apellidos}}</div>
                    <div><span>IDENTIFICACION: </span> {{vm.planilla.conductor.identificacion}}</div>
                    <div><span>TELEFONO: </span> {{vm.planilla.conductor.telefono}}</div>
                    <div><span>FECHA: </span> {{vm.planilla.viaje.fecha | date}}</div>
                </div>
            </header>
            <main id="mainPlanilla">
                <div class="row">
                    <div class="row"></div>
                    <div class="col s8">
                        <table id="table" class="striped responsive-table">
                            <thead>
                            <tr>
                                <th class="center">IDENTIFICACION</th>
                                <th class="center">NOMBRES Y APELLIDOS</th>
                                <th class="center">TELEFONO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pasajero in vm.planilla.pasajeros" >
                                <td class="center">{{pasajero.identificacion}}</td>
                                <td class="center">{{pasajero.nombres}}</td>
                                <td class="center">{{pasajero.telefono}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s1"><br></div>
                    <div class="col s3">
                        <table id="tableD" class="striped responsive-table">
                            <thead>
                            <tr>
                                <th class="center">DEDUCCION</th>
                                <th class="center">VALOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deduccion in vm.planilla.deducciones">
                                <td class="center">{{deduccion.nombre}}</td>
                                <td class="center">{{deduccion.valor | currency}}</td>
                            </tr>
                            <tr>
                                <td class="center">VALOR TOTAL</td>
                                <td class="center">{{vm.planilla.total | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            </body>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red accent-4"
               style="margin-left:10px;">Salir</a>
            <a href="javascript:;" ng-click="vm.imprimir()" class="waves-effect waves-light btn light-green"
               style="margin-left:10px;">Imprimir</a>
        </div>
    </div>
    <!--fin modal planilla-->

</div>

<script type="application/javascript">
    $(document).ready(function(){
        $('.datepicker').pickadate({
            firstDay: true,
            format: 'yyyy/mm/dd',
            formatSubmit: 'yyyy/mm/dd',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('ul.tabs').tabs();
    });
</script>