<div class="contenedor" ng-controller="auditoriaController as vm">
    <div class="row">
        <div class="col s12" >
            <div class="row white col s12" style="border-radius: 15px; border:2px solid #D50000; width: 100%">
                <div class="contenedor">
                    <div class="row">
                        <div class="col s8">
                            <h2><b style="color: black">Auditoria</b></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col s8">
                            <div class="input-field col s6">
                                <i class="material-icons prefix"style="margin-left: -10px; color: #D50000">flag</i>
                                <select class="browser-default" name="central" id="central"
                                        ng-options="central.ciudad.nombre for central in vm.centrales"
                                        ng-model="vm.central" required  style="margin-left: 20px; width: 300px" ng-change="vm.selectedChanged(vm.central)">
                                    <option value="" disabled selected>Seleccione Central</option>
                                </select>
                                <label for="central" class="active" style="margin-left: 20px;">Central</label>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.mostra">
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li style="color: #D50000" class="tab col s3" class="active"><a href="#producidos">Producidos {{vm.central.ciudad.nombre}}</a></li>
                                    <!--<li class="tab col s3"><a href="#vehiculos">Vehiculos {{vm.central.ciudad.nombre}}</a></li>-->
                                </ul>
                            </div>
                            <div id="producidos" class="col s12"><br>
                                <div class="input-field col s3" style="border: 1px solid grey;border-radius: 15px;margin-right: 20px">
                                    <input type="date" class="datepicker" ng-model="vm.fechaI">
                                    <label ><b style="color: black">Fecha inicial</b></label>
                                </div>
                                <div class="input-field col s3" style="border: 1px solid grey;border-radius: 15px">
                                    <input type="date" class="datepicker" ng-model="vm.fechaF">
                                    <label ><b style="color: black">Fecha final</b></label>
                                </div>
                                <div class="input-field col s1" title="Consultar" style="border: none">
                                    <a href="javascript:;" ng-click="vm.producidosFecha(vm.fechaI, vm.fechaF)">
                                        <i style="color: #D50000" class="material-icons prefix">search</i>
                                    </a>
                                </div>
                                <br><br><br>
                                <div ng-hide="vm.todo" class="center">
                                    {{vm.mensaje}}
                                </div>
                                <div class="row" ng-show="vm.todo">
                                    <div style="float: left">
                                        <p><b>CANTIDAD DE REGISTROS EN LA(S) FECHA(S) ESCOGIDA: {{vm.cantidad}}</b></p>
                                    </div>
                                    <div style="float: right">
                                        <p><b>TOTAL PRODUCDIDO EN LA(S) FECHA(S) ESCOGIDA: <b style="color: black">{{vm.total | currency}}</b></b></p>
                                    </div>
                                </div>

                                <div class="row" ng-show="vm.todo">
                                    <hr style="width: 100%; color: #D50000">
                                    <div class="col s12">
                                        <table class="striped bordered responsive-table">
                                            <thead class="center">
                                            <th style="color: #D50000; text-align: center">Numero de planilla</th>
                                            <th style="color: #D50000; text-align: center">Fecha</th>
                                            <th style="color: #D50000; text-align: center">Valor</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="producido in vm.producidos_fecha | filter : filtro">
                                                <td style="text-align: center">{{producido.numero_planilla}}</td>
                                                <td style="text-align: center">{{producido.fecha}}</td>
                                                <td style="text-align: center">{{producido.total | currency}}</td>
                                                <td style="text-align: center">
                                                    <a href="javascript:" ng-click="vm.verPlanilla(producido)">
                                                        <i style="color: #9ccc65" class="material-icons prefix">visibility</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!--<div id="vehiculos" class="col s12"><br>-->
                            <!--<div class="input-field col s2">-->
                            <!--<input type="text" ng-model="vm.codigo_vial">-->
                            <!--<label >CODIGO VIAL</label>-->
                            <!--</div>-->
                            <!--<div class="input-field col s1" title="Consultar vehiculo" style="border: none">-->
                            <!--<a href="javascript:;" ng-click="vm.producidosVehiculo(vm.codigo_vial)">-->
                            <!--<i style="color: #D50000" class="material-icons prefix">search</i>-->
                            <!--</a>-->
                            <!--</div>-->
                            <!--<div class="input-field col s1" title="Consultar todos" style="margin-left: -45px; border: none">-->
                            <!--<a href="javascript:;" ng-click="vm.producidosTodosVehiculo()">-->
                            <!--<i style="color: #D50000" class="material-icons prefix">autorenew</i>-->
                            <!--</a>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal planilla-->
    <div id="modalPlanilla" class="modal modal-fixed-footer" style="width: 75%;min-height:80%; border-radius: 15px">
        <div class="modal-content padding" id="planilla">
            <div id="page-wrap" class="page-wrap">
                <table class="tg">
                    <tr>
                        <th class="tg-yw4l" rowspan="6" style="margin-left: 30px">
                            <img ng-src="http://{{vm.planilla.central.empresa.logo}}" alt="" style="border-radius: 50%; width: 150px; height: 150px">
                        </th>
                        <th class="tg-yw4l"></th>
                    </tr>
                    <tr>
                        <td class="tg-g145" colspan="3">{{vm.planilla.central.empresa.nombre | uppercase}}</td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-smzr" colspan="3">PERSONERIA JURIDICA No. {{vm.planilla.central.empresa.pjuridica | uppercase}} NIT: {{vm.planilla.central.empresa.nit | uppercase}}</td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-smzr" colspan="3">RESOLUCION No. {{vm.planilla.central.empresa.nresolucion | uppercase}} {{vm.planilla.central.empresa.fecha_resolucion | date: 'longDate'}} - MINISTERIO DE TRANSPORTE</td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-smzr" colspan="3">{{vm.planilla.central.direccion | uppercase}} {{vm.planilla.central.ciudaddepa.nombre | uppercase  }}   -
                            {{  vm.planilla.central.ciudaddepa.departamento.nombre | uppercase}} TEL: {{vm.planilla.central.telefono}}</td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l"></td>
                        <td class="tg-gh1y" colspan="2">PLANILLA DE DESPACHO</td>
                        <td class="tg-smzr"></td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-123c">PLANILLA No. {{vm.planilla.numero_planilla | uppercase}}</td>
                        <td class="tg-123c">FECHA: {{vm.planilla.viaje.fecha | date}}</td>
                        <td class="tg-123c">HORA: 2:58:37</td>
                        <td class="tg-smzr">CIUDAD ORIGEN</td>
                        <td class="tg-smzr">CIUDAD DESTINO</td>
                    </tr>
                    <tr>
                        <td class="tg-smzr">PROPIETARIO:</td>
                        <td class="tg-smzr">{{vm.planilla.conductor.vehiculo.nombre_propietario | uppercase}}</td>
                        <td class="tg-smzr">C.C: {{vm.planilla.conductor.vehiculo.identificacion_propietario | uppercase}}</td>
                        <td class="tg-123c">{{vm.planilla.central.ciudaddepa.nombre | uppercase  }}</td>
                        <td class="tg-123c">LA JAGUA</td>
                    </tr>
                    <tr>
                        <td class="tg-smzr">CONDUCTOR:</td>
                        <td class="tg-smzr">{{vm.planilla.conductor.nombres | uppercase}} {{vm.planilla.conductor.apellidos | uppercase}}</td>
                        <td class="tg-smzr">LIC No: {{vm.planilla.conductor.nlicencia}}</td>
                        <td class="tg-smzr">TARJETA OPE: {{vm.planilla.conductor.toperacion}}</td>
                        <td class="tg-smzr"></td>
                    </tr>
                    <tr>
                        <td class="tg-smzr">VEHICULO:</td>
                        <td class="tg-smzr">{{vm.planilla.conductor.vehiculo.modelo | uppercase}}</td>
                        <td class="tg-smzr">PLACA: {{vm.planilla.conductor.vehiculo.placa | uppercase}}</td>
                        <td class="tg-smzr"></td>
                        <td class="tg-123c"></td>
                    </tr>
                </table>

                <div class="blended_grid">
                    <div class="pageColumnLeft">
                        <table class="tg">
                            <tr>
                                <th class="tg-yw4l">CEDULA</th>
                                <th class="tg-yw4l">NOMBRE Y APELLIDOS</th>
                            </tr>
                            <tr ng-repeat="pasajero in vm.planilla.pasajeros">
                                <td>{{pasajero.identificacion}}</td>
                                <td>{{pasajero.nombres}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="pageColumnMid">
                    </div>
                    <div class="pageColumnRight">
                        <table class="tg">
                            <tr>
                                <th class="tg-g145" colspan="2">DEDUCCIONES</th>
                            </tr>
                            <tr ng-repeat="deduccion in vm.planilla.deducciones">
                                <td>{{deduccion.nombre}}</td>
                                <td>{{deduccion.valor | currency}}</td>
                            </tr>
                        </table>
                        <div style="border: solid 1px black; border-radius: 15px">
                            <table class="tg">
                                <tr >
                                    <td>TOTAL: </td>
                                    <td>{{vm.planilla.total | currency}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="enco" class="enco">
                <br>
                <h2>ENCOMIENDAS</h2>
                <div ng-if="vm.planilla.giros.length > 0" ng-repeat="giro in vm.planilla.giros" id="giros">
                    <table class="tb">
                        <tr>
                            <th class="tb-031e" colspan="3" rowspan="3">
                                <img ng-src="http://{{vm.planilla.central.empresa.logo}}" alt="" style="border-radius: 50%; width: 150px; height: 150px">
                            </th>
                            <th class="tb-yw4l"><br></th>
                            <th class="tb-9hbo">{{vm.planilla.central.ciudaddepa.nombre | uppercase  }}</th>
                            <th class="tb-yw4l" colspan="3" rowspan="2"></th>
                            <th class="tb-yw4l"></th>
                            <th class="tb-9hbo" colspan="3">CODAZZI - CESAR</th>
                            <th class="tb-yw4l" rowspan="5"></th>
                            <th class="tb-yw4l" style="text-align: right">SERVICIO:</th>
                        </tr>
                        <tr>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-fs7x">{{vm.planilla.central.telefono | uppercase}}</td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-fs7x" colspan="3">559955</td>
                            <td class="tb-lqy6">GIRO: <i class="material-icons" style="border: solid 1px black">done</i></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="2">{{vm.planilla.central.direccion | uppercase}}</td>
                            <td class="tb-yw4l" colspan="2"></td>
                            <td class="tb-yw4l" colspan="5">CARRERA 18D N° 22 B - 14</td>
                            <td class="tb-lqy6">ENCOMIENDA: </td>
                        </tr>
                        <tr>
                            <td class="tb-rk67" colspan="3">{{vm.planilla.central.empresa.nombre | uppercase}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l" colspan="5">OFIDINA DE:</td>
                            <td class="tb-yw4l">DIA</td>
                            <td class="tb-yw4l">MES</td>
                            <td class="tb-yw4l">AÑO</td>
                            <td class="tb-9hbo">REMESA</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="4">NIT: {{vm.planilla.central.empresa.nit | uppercase}}</td>
                            <td class="tb-yw4l" colspan="5"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">N° {{vm.planilla.numero_planilla | uppercase}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Remitente:</td>
                            <td class="tb-yw4l" colspan="7">{{giro.nombres}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">C.C: </td>
                            <td class="tb-yw4l" colspan="2">{{giro.ide_remitente}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Dirección:</td>
                            <td class="tb-yw4l" colspan="7">{{giro.direccion}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-yw4l" colspan="2">{{giro.telefono}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Destinatario:</td>
                            <td class="tb-yw4l" colspan="7">{{giro.nombre_receptor}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">C.C:</td>
                            <td class="tb-yw4l" colspan="2">{{giro.ide_receptor}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Dirección:</td>
                            <td class="tb-yw4l" colspan="7">{{giro.direccionD}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-yw4l" colspan="2">{{giro.telefono_receptor}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Conductor:</td>
                            <td class="tb-yw4l" colspan="6">{{vm.planilla.conductor.nombres | uppercase}} {{vm.planilla.conductor.apellidos | uppercase}}</td>
                            <td class="tb-yw4l">Movil:</td>
                            <td class="tb-yw4l">{{vm.planilla.conductor.vehiculo.codigo_vial | uppercase}}</td>
                            <td class="tb-yw4l">Placa:</td>
                            <td class="tb-yw4l" colspan="2">{{vm.planilla.conductor.vehiculo.placa | uppercase}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="10">Contenido:</td>
                            <td class="tb-yw4l" rowspan="3"></td>
                            <td class="tb-l2oz">ENVIO $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="10" rowspan="2">LA SUMA DE {{giro.monto | currency}} PESOS</td>
                            <td class="tb-l2oz">COMISION $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-l2oz">TOTAL $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-baqh" colspan="4">FIRMA DEL REMITENTE</td>
                            <td class="tb-baqh" colspan="4">ELABORADO POR:</td>
                            <td class="tb-yw4l" colspan="6" rowspan="2">Recibí a entera satisfacción los bienes y/o giros enviados y enumerados<br>en este comprobante.<br>Firma recibido:</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="4" rowspan="2"></td>
                            <td class="tb-yw4l" colspan="4" rowspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="6">C . C / NIT:</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                    </table>
                    <br>
                </div>

                <!--//PAQUETES-->
                <div ng-if="vm.planilla.paquetes.length > 0" ng-repeat="paquete in vm.planilla.paquetes" id="paquetes">
                    <table class="tb">
                        <tr>
                            <th class="tb-031e" colspan="3" rowspan="3">
                                <img ng-src="http://{{vm.planilla.central.empresa.logo}}" alt="" style="border-radius: 50%; width: 150px; height: 150px">
                            </th>
                            <th class="tb-yw4l"><br></th>
                            <th class="tb-9hbo">{{vm.planilla.central.ciudaddepa.nombre | uppercase  }}</th>
                            <th class="tb-yw4l" colspan="3" rowspan="2"></th>
                            <th class="tb-yw4l"></th>
                            <th class="tb-9hbo" colspan="3">CODAZZI - CESAR</th>
                            <th class="tb-yw4l" rowspan="5"></th>
                            <th class="tb-yw4l" style="text-align: right">SERVICIO:</th>
                        </tr>
                        <tr>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-fs7x">{{vm.planilla.central.telefono | uppercase}}</td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-fs7x" colspan="3">559955</td>
                            <td class="tb-lqy6">GIRO: </td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="2">{{vm.planilla.central.direccion | uppercase}}</td>
                            <td class="tb-yw4l" colspan="2"></td>
                            <td class="tb-yw4l" colspan="5">CARRERA 18D N° 22 B - 14</td>
                            <td class="tb-lqy6">ENCOMIENDA: <i class="material-icons" style="border: solid 1px black">done</i></td>
                        </tr>
                        <tr>
                            <td class="tb-rk67" colspan="3">{{vm.planilla.central.empresa.nombre | uppercase}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l" colspan="5">OFIDINA DE:</td>
                            <td class="tb-yw4l">DIA</td>
                            <td class="tb-yw4l">MES</td>
                            <td class="tb-yw4l">AÑO</td>
                            <td class="tb-9hbo">REMESA</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="4">NIT: {{vm.planilla.central.empresa.nit | uppercase}}</td>
                            <td class="tb-yw4l" colspan="5"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">N° {{vm.planilla.numero_planilla | uppercase}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Remitente:</td>
                            <td class="tb-yw4l" colspan="7">{{paquete.nombres}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">C.C: </td>
                            <td class="tb-yw4l" colspan="2">{{paquete.ide_remitente}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Dirección:</td>
                            <td class="tb-yw4l" colspan="7">{{paquete.direccion}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-yw4l" colspan="2">{{paquete.telefono}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Destinatario:</td>
                            <td class="tb-yw4l" colspan="7">{{paquete.nombre_receptor}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">C.C:</td>
                            <td class="tb-yw4l" colspan="2">{{paquete.ide_receptor}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Dirección:</td>
                            <td class="tb-yw4l" colspan="7">{{paquete.direccionD}}</td>
                            <td class="tb-yw4l"></td>
                            <td class="tb-yw4l">Telefono : </td>
                            <td class="tb-yw4l" colspan="2">{{paquete.telefono_receptor}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="3">Conductor:</td>
                            <td class="tb-yw4l" colspan="6">{{vm.planilla.conductor.nombres | uppercase}} {{vm.planilla.conductor.apellidos | uppercase}}</td>
                            <td class="tb-yw4l">Movil:</td>
                            <td class="tb-yw4l">{{vm.planilla.conductor.vehiculo.codigo_vial | uppercase}}</td>
                            <td class="tb-yw4l">Placa:</td>
                            <td class="tb-yw4l" colspan="2">{{vm.planilla.conductor.vehiculo.placa | uppercase}}</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="10">Contenido:</td>
                            <td class="tb-yw4l" rowspan="3"></td>
                            <td class="tb-l2oz">ENVIO $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="10" rowspan="2">{{paquete.descripcion | uppercase}}</td>
                            <td class="tb-l2oz">COMISION $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-l2oz">TOTAL $</td>
                            <td class="tb-baqh" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                        <tr>
                            <td class="tb-baqh" colspan="4">FIRMA DEL REMITENTE</td>
                            <td class="tb-baqh" colspan="4">ELABORADO POR:</td>
                            <td class="tb-yw4l" colspan="6" rowspan="2">Recibí a entera satisfacción los bienes y/o giros enviados y enumerados<br>en este comprobante.<br>Firma recibido:</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="4" rowspan="2"></td>
                            <td class="tb-yw4l" colspan="4" rowspan="2"></td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="6">C . C / NIT:</td>
                        </tr>
                        <tr>
                            <td class="tb-yw4l" colspan="14"></td>
                        </tr>
                    </table>
                    <br>
                </div>




            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px; border-radius: 15px">Salir</a>
            <a href="javascript:;" ng-click="vm.irimpresion()" class="waves-effect waves-light btn green"
               style="margin-left:10px; border-radius: 15px">Imprimir</a>
        </div>
    </div>
    <!--fin modal planilla-->

</div>

<script type="application/javascript">
    $(document).ready(function(){
        $('.datepicker').pickadate({
            firstDay: true,
            format: 'yyyy/mm/dd',
            formatSubmit: 'yyyy/mm/dd',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('ul.tabs').tabs();
    });
</script>