<div ng-controller="CentralesController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de Centrales</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Id</th>
                            <th>Ciudad</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="central in centrales| filter : filtro">
                                    <td>{{central.id}}</td>
                                    <td>{{central.ciudad.nombre}}</td>
                                    <td>{{central.direccion}}</td>
                                    <td>{{central.telefono}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="actualizar(central)">
                                            <i class="material-icons prefix">visibility</i>
                                        </a>
                                        <a href="javascript:" ng-click="eliminar(central.id)">
                                            <i class="material-icons prefix">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevo()">
            <i class="material-icons">add</i>
        </a>
    </div>


    <!--modal nuevo central-->
    <div id="modalNuevaCentral" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>{{nombreForm}}</h2>
            <div class="row">
                <form class="col s12" name="formNuevaCentral">
                    <div class="row col s4">
                        <div class="row" ng-show="editMode">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment" type="text" class="validate" name="placa" ng-model="selectedCentral.id" disabled>
                                <label for="icon_payment" class="{{active}}">Id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row input-field col s12">
                                <i class="material-icons prefix">local_taxi</i>
                                <input id="ciudad" type="text" class="validate" name="ciudad" ng-model="selectedCentral.ciudad.nombre" readonly required ng-click="openCiudades()">
                                <label for="ciudad" class="{{active}}" ng-class="{'active' : selectedCentral.ciudad.nombre}">Ciudad</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row input-field col s12">
                                <i class="material-icons prefix">invert_colors_off</i>
                                <input id="direccion" type="text" class="validate" name="direccion"  ng-model="selectedCentral.direccion" required>
                                <label for="direccion" class="{{active}}">Direccion</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">airline_seat_recline_normal</i>
                                <input id="telefono" type="text" class="validate" name="telefono" ng-model="selectedCentral.telefono" required>
                                <label for="telefono" class="{{active}}">Telefono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row" ng-hide="editMode">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field">
                                                <i class="material-icons prefix" style="padding-left: 3px;">lock</i>

                                                <p style="padding-left: 45px; padding-top: 3px">Datos de acceso</p>
                                            </div>
                                            <div class="divider"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input id="username" name="username" type="text" ng-model="selectedCentral.usuario.nombre"
                                                       ng-required="!editMode">
                                                <label for="username" class="{{active}}" ng-class="{'active': selectedCentral.usuario.nombre}">Nombre de usuario</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field">
                                                <i class="material-icons prefix">vpn_key</i>
                                                <input id="contrasena" name="contrasena" type="text" ng-model="selectedCentral.usuario.contrasena"
                                                       ng-required="!editMode">
                                                <label for="contrasena" class="{{active}}" ng-class="{'active': selectedCentral.usuario.contrasena}">Contraseña</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <input type="button" class="waves-effect waves-light btn offset-s8" value="Generar Datos"
                                               ng-click="generarDatosAcceso()" ng-disabled="formEmpresa.nombre.$invalid">
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--mapa-->
                    <div class="row col s8" >
                        <p>
                            <input  type="text" placeholder="Buscar direccion" ng-model="selectedCentral.direccion" style="width: 210px"/>
                            <a class="btn btn-default" href="javascript:;" ng-click="agregarDireccion()">Buscar direccion!</a>
                        </p>
                        <div class="row input-field col s12">
                            <input ng-hide="true" ng-model="selectedCentral.miDireccionLa">
                            <input ng-hide="true" ng-model="selectedCentral.miDireccionLo">
                        </div>
                        <!--<div class="map_container" >-->
                            <!--<google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control" refresh="!map.isMapElementHidden">-->
                                <!--<markers models="map.markers" coords="'self'" options="'options'" isLabel='true'></markers>-->
                            <!--</google-map>-->

                        <!--</div>-->
                        <div id="dvMap" style="height: 380px; width: 580px;"></div>

                    </div>
                    <!--fin mapa-->

                </form>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <a ng-disabled="formNuevaCentral.$invalid"  class="waves-effect waves-light btn green" ng-hide="editMode"
               ng-click="guardar()">Guardar</a>
            <a ng-disabled="formNuevaCentral.$invalid"  class="waves-effect waves-light btn green" ng-show="editMode"
               ng-click="update()">Modificar</a>
        </div>

    </div>

    <!--modal seleccionar ciudad-->
    <div id="modalSeleccionarCiudad" class="modal modal-fixed-footer">
        <div class="modal-content no-padding">
            <ul class="collection with-header" style="margin: 0">
                <li class="collection-header"><h4>Seleccionar Ciudad</h4></li>
                <li class="collection-item row">
                    <div class="input-field col s11 no-padding">
                        <input id="icon_filtr_ciud" type="text" ng-model="filtroCiudades">
                        <label for="icon_prefix" style="margin: 0; padding: 0   ">Filtrar</label>
                    </div>
                    <div class="col s1" style="padding-top: 20px; padding-right: 5px; padding-left: 20px">
                        <i class="material-icons prefix">search</i>
                    </div>
                </li>
                <li class="collection-item" ng-repeat="ciudad in ciudades| filter : filtroCiudades">
                    <div style="padding-left: 10px">
                        {{ciudad.nombre}}
                        <a href="javascript:;" class="secondary-content" ng-click="selecionarCiudad(ciudad)">
                            <i class="material-icons prefix">touch_app</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Cancelar</a>
        </div>
    </div>
</div>