<div ng-controller="RutasController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de Rutas</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Id</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ruta in rutas">
                                <td>{{ruta.id}}</td>
                                <td>{{ruta.origen.ciudad.nombre}}</td>
                                <td>{{ruta.destino.ciudad.nombre}}</td>
                                <td>
                                    <a href="javascript:" ng-click="verRuta(ruta)">
                                        <i class="material-icons prefix">visibility</i>
                                    </a>
                                    <a href="javascript:" ng-click="eliminar(ruta.id)">
                                        <i class="material-icons prefix">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalRutas" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <form name="formNuevaRuta">
            <div class="row">
                <div class="col s6">
                    <div class="row"><h2>Origen</h2></div>
                    <div class="row">
                        <!--<a href="javascript:;" class="btn btn-default" ng-click="agregarDireccionO()"></a>-->
                        <select class="browser-default" name="selectOrigen" id="selectOrigen"
                                ng-options="central.ciudad.nombre for central in centrales"
                                ng-model="ruta.origen" required>
                            <option value="" disabled selected>Seleccione ciudad origen</option>
                        </select>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row"><h2>Destino</h2></div>
                    <div class="row">
                        <!--<a href="javascript:;" class="btn btn-default" ng-click="agregarDireccionD()"></a>-->
                        <select class="browser-default" name="selectDestino" id="selectDestino"
                                ng-options="central.ciudad.nombre for central in centrales"
                                ng-model="ruta.destino" required>
                            <option value="" disabled selected>Seleccione ciudad destino</option>
                        </select>
                    </div>
                </div>
            </div>
                <div class="row">
                    <!--&lt;!&ndash;mapa&ndash;&gt;-->
                    <!--<div class="row col s12" >-->
                        <!--<div id="dvMap" style="height: 380px; width: 580px;"></div>-->

                    <!--</div>-->
                    <!--&lt;!&ndash;fin mapa&ndash;&gt;-->
                    <div>
                        <a class="btn btn-block" href="javascript:;" ng-click="trazarRuta()" value="Buscar ruta">Trazar ruta</a>
                    </div>
                    <br />
                    <div id="rutaOps">
                        <select id="modo_viaje" class="opciones_ruta">
                            <option value="DRIVING" selected="selected">Auto</option>
                            <option value="BICYCLING">Bicicleta</option>
                            <option value="WALKING">Caminando</option>
                        </select>
                        <select id="tipo_sistema" class="opciones_ruta">
                            <option value="METRIC" selected="selected">Métrico</option>
                            <option value="IMPERIAL">Imperial</option>
                        </select>
                    </div>
                    <br />

                        <div id="map_canvas" style="float:left; width:70%; height:500px"></div>
                        <div id="panel_ruta" style="float:right; overflow: auto; width:30%; height: 500px"></div>


                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <div ng-hide="{{mostrar}}">
                <a ng-disabled="formNuevaRuta.$invalid"  class="waves-effect waves-light btn green"
                   ng-click="guardar()">Guardar</a>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevo()">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>