<!-- Modal Trigger -->
<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modalConductores" class="modal modal-fixed-footer">
    <div class="modal-header"> 
        <h4>Registrar conductor</h4>
    </div>
    <form action="" name="formConductor">
            <div class="modal-content">
                <h2>Nuevo Conductor</h2>

            <div class="row">

                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">payment</i>
                        <input id="icon_payment" type="tel" class="validate">
                        <label for="icon_payment">Identificacion</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_person" type="tel" class="validate">
                        <label for="icon_person">Nombres</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_person" type="tel" class="validate">
                        <label for="icon_person">Apellidos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person_pin_circle</i>
                        <input id="icon_pain" type="tel" class="validate">
                        <label for="icon_pain">Direccion</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_phone" type="tel" class="validate">
                        <label for="icon_phone">Telefono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">contact_mail</i>
                        <input id="icon_mail" type="tel" class="validate">
                        <label for="icon_mail">Correo</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
                <input type="button" class="waves-effect waves-light btn orange" ng-click="guardar()" ng-hide="editMode"
                       ng-disabled="!formConductor.$valid" value="Guardar">
                <input type="button" class="waves-effect waves-light btn orange" ng-click="update()" ng-show="editMode"
                       ng-disabled="!formConductor.$valid" value="Modificar">
            </div>
    </form>
</div>