<div ng-controller="ConductorController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de Conductores</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="tel" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Id</th>
                            <th>Foto</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Edad</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="conductor in Conductores | filter : filtro">
                                    <td>{{conductor.id}}</td>
                                    <td>
                                        <img ng-src="{{conductor.foto}}" class="circle" style="width: 35px;">
                                    </td>
                                    <td>{{conductor.nombres}}</td>
                                    <td>{{conductor.apellidos}}</td>
                                    <td>{{conductor.direccion}}</td>
                                    <td>{{conductor.telefono}}</td>
                                    <td>{{conductor.edad}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="show(conductor)">
                                            <i class="material-icons prefix">visibility</i>
                                        </a>
                                        <a href="javascript:" ng-click="actualizar(conductor)">
                                            <i class="material-icons prefix">mode_edit</i>
                                        </a>
                                        <a href="javascript:" ng-click="eliminar(conductor.id)">
                                            <i class="material-icons prefix">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light orange" ng-click="nuevoConductor()">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="modalNuevoConductor" class="modal modal-fixed-footer">
        <form action="" name="formConductor">
            <div class="modal-content">
                <h2>Nuevo Conductor</h2>

                <div class="row">

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">payment</i>
                            <input id="icon_payment" type="tel" class="validate" name="identificacion">
                            <label for="icon_payment">Identificacion</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_person" type="tel" class="validate" name="nombres">
                            <label for="icon_person">Nombres</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_person" type="tel" class="validate" name="apellidos">
                            <label for="icon_person">Apellidos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person_pin_circle</i>
                            <input id="icon_pain" type="tel" class="validate" name="direccion">
                            <label for="icon_pain">Direccion</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_phone" type="tel" class="validate" name="telefono">
                            <label for="icon_phone">Telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">contact_mail</i>
                            <input id="icon_mail" type="tel" class="validate" name="correo">
                            <label for="icon_mail">Correo</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
                <input type="button" class="waves-effect waves-light btn orange" ng-click="guardar()" ng-hide="editMode"
                       ng-disabled="!formConductor.$valid" value="Guardar">
                <input type="button" class="waves-effect waves-light btn orange" ng-click="update()" ng-show="editMode"
                       ng-disabled="!formConductor.$valid" value="Modificar">
            </div>
        </form>
    </div>


</div>