<div ng-controller="DeduccionesController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Deducciones</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead class="center">
                                <th>Nombre</th>
                                <th>Valor</th>
                                <th class="center">Estado</th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deduccion in Deducciones | filter : filtro">
                                <td>{{deduccion.nombre}}</td>
                                <td>{{deduccion.valor | currency}}</td>
                                <td>
                                    <div class="switch center">
                                        <label>
                                            <input ng-model="deduccion.estado" type="checkbox" ng-checked="{{deduccion.estado}}" ng-click="updateEstado(deduccion)">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:" ng-click="modificar(deduccion)">
                                        <i class="material-icons prefix">visibility</i>
                                    </a>
                                    <a href="javascript:" ng-click="eliminar(deduccion.id)">
                                        <i class="material-icons prefix">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevaDeduccion()">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="modalNuevaDeduccion" class="modal modal-fixed-footer">
        <form name="formDeduccion">
            <div class="modal-content">
                <h2>{{titulo}}</h2>

                <div class="row">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">label</i>
                            <input id="icon_person2" type="text" class="validate" name="nombre"ng-model="Deduccion.nombre">
                            <label for="icon_person2" class="{{active}}">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <div class="switch">
                                <label>
                                    Desactivado
                                    <input name="estado" type="checkbox" ng-model="Deduccion.estado" ng-checked="{{Deduccion.estado}}">
                                    <span class="lever"></span>
                                    Activado
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">receipt</i>
                            <input id="icon_person1" type="text" class="validate" name="descripcion"ng-model="Deduccion.descripcion">
                            <label for="icon_person1" class="{{active}}">Descipción</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">attach_money</i>
                            <input id="icon_person3" type="text" class="validate" name="valor" ng-model="Deduccion.valor">
                            <label for="icon_person3" class="{{active}}">Valor</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
                <input type="button" class="waves-effect waves-light btn orange" ng-click="guardar()" ng-hide="editMode"
                       ng-disabled="!formDeduccion.$valid" value="Guardar">
                <input type="button" class="waves-effect waves-light btn orange" ng-click="update()" ng-show="editMode"
                       ng-disabled="!formDeduccion.$valid" value="Modificar">
            </div>
        </form>
    </div>


</div>