<div ng-controller="ConductorController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de Conductores</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="tel" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Identificación</th>
                            <th>Foto</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Edad</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="conductor in Conductores| filter : filtro">
                                    <td>{{conductor.identificacion}}</td>
                                    <td>
                                        <img ng-src="{{conductor.imagen}}" class="circle" style="width: 35px;">
                                    </td>
                                    <td>{{conductor.nombres}}</td>
                                    <td>{{conductor.apellidos}}</td>
                                    <td>{{conductor.direccion}}</td>
                                    <td>{{conductor.telefono}}</td>
                                    <td>{{conductor.edad}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="modificar(conductor)">
                                            <i class="material-icons prefix">visibility</i>
                                        </a>
                                        <a href="javascript:" ng-click="eliminar(conductor.identificacion)">
                                            <i class="material-icons prefix">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevoConductor()">
            <i class="material-icons">add</i>
        </a>
    </div>

    <!--Modal nuevo conductor-->
    <div id="modalNuevoConductor" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>{{titulo}}</h2>
            <div class="row">

                <div class="col s8">

                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment" type="text" class="validate" name="identificacion" ng-model="Conductor.identificacion">
                                <label for="icon_payment" class="{{active}}">Identificación</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_person" type="text" class="validate" name="nombres"ng-model="Conductor.nombres">
                                <label for="icon_person" class="{{active}}">Nombres</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_person2" type="text" class="validate" name="apellidos" ng-model="Conductor.apellidos">
                                <label for="icon_person2" class="{{active}}">Apellidos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">person_pin_circle</i>
                                <input id="icon_pain" type="text" class="validate" name="direccion" ng-model="Conductor.direccion">
                                <label for="icon_pain" class="{{active}}">Dirección</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">phone</i>
                                <input id="icon_phone" type="text" class="validate" name="telefono" ng-model="Conductor.telefono">
                                <label for="icon_phone" class="{{active}}">Teléfono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <i class="material-icons prefix">today</i>
                                <label  class="{{active}}">Fecha de nacimiento</label>
                                <input id="icon_today" type="date" class="validate datapicker" name="correo" ng-model="Conductor.fecha">
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">contact_mail</i>
                                <input id="icon_mail2" type="text" class="validate" name="correo" ng-model="Conductor.correo">
                                <label for="icon_mail2" class="{{active}}">Correo</label>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col s4">
                    <div class="col s12" id="image" style="max-height: 300px;">
                        <img class="thumb center" id="imagenlogo" style="width:100%" src="{{Conductor.imagen}}" title="logo" alt="seleccione foto"/>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn col s12">
                            <span><i class="mdi-image-photo-camera"></i></span>
                            <input id="files" uploader-model="fileimage" type="file">
                        </div>
                        <div class="file-path-wrapper">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <a ng-disabled="!formConductor.$valid"  class="waves-effect waves-light btn green" ng-hide="editMode" ng-click="guardar()">Guardar</a>
            <a ng-disabled="!formConductor.$valid"  class="waves-effect waves-light btn green" ng-show="editMode" ng-click="update()">Modificar</a>
        </div>

    </div>

    <!--modal asignar vehiculo conductor-->
    <div id="modalAsignarVehiculoC" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>{{titulo}}</h2>
            <div class="row">
                <div class="col s8">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment2" type="text" class="validate" name="propietario" ng-model="Vehiculo.ide_propietario">
                                <label for="icon_payment2" class="{{active}}">Identificacion propietario</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">person</i>
                                <input id="icon_person3" type="text" class="validate" name="nombreP" ng-model="Vehiculo.nombre_propietario">
                                <label for="icon_person3" class="{{active}}">Nombres propietario</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix" >phone</i>
                                <input id="icon_phone1" type="text" class="validate" name="phone" ng-model="Vehiculo.tel_propietario">
                                <label for="icon_phone1" class="{{active}}">Telefono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment3" type="text" class="validate" name="placa" ng-model="Vehiculo.placa">
                                <label for="icon_payment3" class="{{active}}">Placa</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="material-icons prefix">local_taxi</i>
                                <input id="icon_person31" type="text" class="validate" name="modelo" ng-model="Vehiculo.modelo">
                                <label for="icon_person31" class="{{active}}">Modelo</label>
                            </div>
                            <div class="input-field col s2">
                                <i class="material-icons prefix">invert_colors_off</i>
                                <input id="icon_person23" type="text" class="validate" name="color"  ng-model="Vehiculo.color">
                                <label for="icon_person23" class="{{active}}">Color</label>
                            </div>
                            <div class="input-field col s2">
                                <i class="material-icons prefix">airport_shuttle</i>
                                <input id="icon_person4" type="text" class="validate" name="vial"  ng-model="Vehiculo.codigo_vial">
                                <label for="icon_person4" class="{{active}}">C. vial</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix" >event_seat</i>
                                <input id="icon_cupo" type="text" class="validate" name="cupos" ng-model="Vehiculo.cupos">
                                <label for="icon_cupo" class="{{active}}">Cupos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <i class="material-icons prefix">payment</i>
                                Documentación del vehículo
                            </div>

                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s4">
                                        <p>
                                            <input type="checkbox" id="seguro" />
                                            <label for="seguro">SEGURO</label>
                                        </p>
                                    </div>
                                    <div class="col s12" ng-show="true">
                                        <input type="date" class="datepicker" placeholder="Fecha de vencimiento">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s4">
                                        <p>
                                            <input type="checkbox" id="soat" />
                                            <label for="seguro">SOAT</label>
                                        </p>
                                    </div>
                                    <div class="col s12" ng-show="true">
                                        <input type="date" class="datepicker" placeholder="Fecha de vencimiento">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s4">
                                        <p>
                                            <input type="checkbox" id="tecno" />
                                            <label for="tecno">TECNOMECÁNICA</label>
                                        </p>
                                    </div>
                                    <div class="col s12" ng-show="true">
                                        <input type="date" class="datepicker" placeholder="Fecha de vencimiento">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s12">
                                        <p>
                                            <input type="checkbox" id="tarjeta" />
                                            <label for="tarjeta">TARJETA DE PROPIEDAD</label>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col s4">
                    <div class="col s12" id="imageV"></div>
                    <div class="file-field input-field col s12">
                        <a id="cambiarIv" ng-click="modificarImagen()" hidden style="display: none" href="javascript:;" class="btn col s12 red">Cambiar</a>
                    </div>

                    <div class="file-field input-field col s12">
                        <div class="btn col s12">
                            <span><i class="mdi-image-photo-camera"></i></span>
                            <input id="filesV" uploader-model="Conductor.imagen" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <!--<input class="file-path validate" type="text">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <a ng-disabled="!formVehiculo.$valid"  class="waves-effect waves-light btn green" ng-hide="editMode" ng-click="guardarVehiculo()">Guardar</a>
        </div>

    </div>
    <!--fin modal agregar vehiculo conductor-->
</div>
<script>
    $(document).ready(function () {
        function archivo(evt) {
            var files = evt.target.files;

            //Obtenemos la imagen
            for (var i = 0, f; f = files[i]; i++) {
                //Solo imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        // se crea la imagen
                        document.getElementById("image").innerHTML = ['<img class="thumb" style="width:100%;" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', archivo, false);

        $(':file').change(function () {
            //obtenemos un array con los datos del archivo
            var file = $("#files")[0].files[0];
            //obtenemos el nombre del archivo
            var fileName = file.name;
            //obtenemos la extensión del archivo
            fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            //obtenemos el tamaño del archivo
            var fileSize = file.size;
            //obtenemos el tipo de archivo image/png ejemplo
            var fileType = file.type;

            $("#cambiar").show();
            //mensaje con la información del archivo
            // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        });
    });
</script>

