<div ng-controller="VehiculosController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Gestion de vehículos</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix1" type="tel" ng-model="filtro">
                            <label for="icon_prefix1">Filtrar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Placa</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Conductor</th>
                            <th>Cupos</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="vehiculo in Vehiculos | filter : filtro">
                                <td>{{vehiculo.placa}}</td>
                                <td>{{vehiculo.modelo}}</td>
                                <td>{{vehiculo.color}}</td>
                                <td>{{vehiculo.ide_conductor}}</td>
                                <td>{{vehiculo.cupos}}</td>
                                <td>
                                    <a href="javascript:" ng-click="modificar(vehiculo)">
                                        <i class="material-icons prefix">visibility</i>
                                    </a>
                                    <a href="javascript:" ng-click="eliminar(vehiculo.placa)">
                                        <i class="material-icons prefix">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevoVehiculo()">
            <i class="material-icons">add</i>
        </a>
    </div>


    <!--modal nuevo vehiculo-->
    <div id="modalNuevoVehiculo" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>{{titulo}}</h2>
            <div class="row">
                <div class="col s8">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment2" type="text" class="validate" name="propietario" ng-model="Vehiculo.ide_propietario">
                                <label for="icon_payment2" class="{{active}}">Identificacion propietario</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">person</i>
                                <input id="icon_person3" type="text" class="validate" name="nombreP" ng-model="Vehiculo.nombre_propietario">
                                <label for="icon_person3" class="{{active}}">Nombres propietario</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix" >phone</i>
                                <input id="icon_phone1" type="text" class="validate" name="phone" ng-model="Vehiculo.tel_propietario">
                                <label for="icon_phone1" class="{{active}}">Telefono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment" type="text" class="validate" name="placa" ng-model="Vehiculo.placa">
                                <label for="icon_payment" class="{{active}}">Placa</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="material-icons prefix">local_taxi</i>
                                <input id="icon_person" type="text" class="validate" name="modelo" ng-model="Vehiculo.modelo">
                                <label for="icon_person" class="{{active}}">Modelo</label>
                            </div>
                            <div class="input-field col s2">
                                <i class="material-icons prefix">invert_colors_off</i>
                                <input id="icon_person2" type="text" class="validate" name="color"  ng-model="Vehiculo.color">
                                <label for="icon_person2" class="{{active}}">Color</label>
                            </div>
                            <div class="input-field col s2">
                                <i class="material-icons prefix">airport_shuttle</i>
                                <input id="icon_person4" type="text" class="validate" name="vial"  ng-model="Vehiculo.codigo_vial">
                                <label for="icon_person4" class="{{active}}">C. vial</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">airline_seat_recline_normal</i>
                                <input id="icon_phone" type="text" class="validate" name="conductor" ng-model="Vehiculo.ide_conductor" ng-click="buscarConductor()">
                                <label for="icon_phone" class="{{active}}">Identificacion conductor</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="material-icons prefix" >event_seat</i>
                                <input id="icon_cupo" type="text" class="validate" name="cupos" ng-maxlength="3" ng-model="Vehiculo.cupos">
                                <label for="icon_cupo" class="{{active}}">Cupos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <i class="material-icons prefix">payment</i>
                                Documentación del vehículo
                            </div>

                            <div class="row col s6" ng-repeat="documento in Documentacion">
                                <fieldset>
                                    <div class="col s12">
                                        <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                            <input type="checkbox" ng-model="documento.selected" id="documento{{documento.id}}"/>
                                            <label for="documento{{documento.id}}">{{documento.nombre}}</label>
                                        </p>
                                    </div>
                                    <div class="col s12" ng-if="documento.nombre !== 'TARJETA DE PROPIEDAD'">
                                        <input type="date" class="validate datapicker" name="fecha" ng-model="Vehiculo.fecha">
                                    </div>
                                </fieldset>
                                <a href="javascript:;" ng-click="checkDocumentos(documento)">prueba</a>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col s4">
                    <div class="col s12" id="imagev" style="max-height: 300px;">
                        <img class="thumb center" id="imagen" style="width:100%" src="{{Vehiculo.imagen}}" title="imagen" alt="seleccione foto"/>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn col s12">
                            <span><i class="mdi-image-photo-camera"></i></span>
                            <input id="files" uploader-model="fileimageV" type="file" name="filesv">
                        </div>
                        <div class="file-path-wrapper">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <a ng-disabled="!formVehiculo.$valid"  class="waves-effect waves-light btn green" ng-hide="editMode" ng-click="guardar()">Guardar</a>
            <a ng-disabled="!formVehiculo.$valid"  class="waves-effect waves-light btn green" ng-show="editMode" ng-click="update()">Modificar</a>
        </div>

    </div>

    <!--modal buscar conductor-->
    <div id="modalBuscarconductor" class="modal modal-fixed-footer" ng-controller="ConductorController">
        <div class="row white">
            <div class="col s12 z-depth-1">
                <div class="contenedor">
                    <div class="row">
                        <div class="col s8">
                            <h2>Seleccionar conductor</h2>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input id="icon_prefix" type="tel" ng-model="filtro">
                                <label for="icon_prefix">Filtrar</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="striped bordered">
                                <thead>
                                <th>Identificacion</th>
                                <th>Foto</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Teléfono</th>
                                <th>Seleccionar</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="conductor in Conductores | filter : filtro">
                                    <td>{{conductor.identificacion}}</td>
                                    <td>
                                        <img src="http://materializecss.com/images/yuna.jpg" class="circle" style="width: 35px;">
                                    </td>
                                    <td>{{conductor.nombres}}</td>
                                    <td>{{conductor.apellidos}}</td>
                                    <td>{{conductor.telefono}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="selectConductor(conductor)">
                                            <i class="material-icons prefix">touch_app</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
            </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function(){
        function archivo(evt) {
            var files = evt.target.files;
            //Obtenemos la imagen
            for (var i = 0, f; f = files[i]; i++) {
                //Solo imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();

                reader.onload = (function(theFile) {
                    return function(e) {
                        // se crea la imagen
                        document.getElementById("imagev").innerHTML = ['<img class="thumb" style="width:100%;" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', archivo, false);

        $(':file').change(function(){
            //obtenemos un array con los datos del archivo
            var file = $("#files")[0].files[0];
            //obtenemos el nombre del archivo
            var fileName = file.name;
            //obtenemos la extensión del archivo
            fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            //obtenemos el tamaño del archivo
            var fileSize = file.size;
            //obtenemos el tipo de archivo image/png ejemplo
            var fileType = file.type;

            $("#cambiar").show();
            //mensaje con la información del archivo
            // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
</script>
