<div ng-controller="ServiciosController" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Paquetes</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped bordered">
                            <thead>
                            <th>Id remite</th>
                            <th>Remite</th>
                            <th>Telefono</th>
                            <th>Id recive</th>
                            <th>Recive</th>
                            <th>Teléfono</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Vehiculo</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="paquete in Paquetes| filter : filtro">
                                    <td>{{paquete.cliente.identificacion}}</td>
                                    <td>{{paquete.cliente.nombres}} {{paquete.cliente.apellidos}} </td>
                                    <td>{{paquete.cliente.telefono}}</td>
                                    <td>{{paquete.ide_receptor}}</td>
                                    <td>{{paquete.nombres_receptor}}</td>
                                    <td>{{paquete.tel_receptor}}</td>
                                    <td>{{paquete.origen}}</td>
                                    <td>{{paquete.destino}}</td>
                                    <td>{{paquete.vehiculo}}</td>
                                    <td>{{paquete.descripcion_paquete}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="modificarPaquete(paquete)">
                                            <i class="material-icons prefix">visibility</i>
                                        </a>
                                        <a href="javascript:" ng-click="deletePaquete(paquete.id)">
                                            <i class="material-icons prefix">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nuevoPaquete()">
            <i class="material-icons">add</i>
        </a>
    </div>


    <!--Modal nuevo paquete-->
    <div id="modalAsignarPaquete" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>Nuevo paquete</h2>
            <div class="row">
                <div class="row col s9">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment" type="text" class="validate" name="id" ng-model="Paquete.ide_remitente" ng-blur="selectClientePaquete()">
                                <label for="icon_payment" class="{{active}}">Id remitente</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_person" type="text" class="validate" name="nombres"ng-model="Paquete.nombres_remitente">
                                <label for="icon_person" class="{{active}}">Nombre remitente</label>
                            </div>
                            <div class="input-field col s3">
                                <i class="material-icons prefix">phone</i>
                                <input id="icon_phone" type="text" class="validate" name="telefono" ng-model="Paquete.tel_remitente">
                                <label for="icon_phone" class="{{active}}">Teléfono remitente</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment3" type="text" class="validate" name="id" ng-model="Paquete.ide_receptor">
                                <label for="icon_payment3" class="{{active}}">Id receptor</label>
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_person2" type="text" class="validate" name="apellidos" ng-model="Paquete.nombres_receptor">
                                <label for="icon_person2" class="{{active}}">Nombre receptor</label>
                            </div>
                            <div class="input-field col s3">
                                <i class="material-icons prefix">phone</i>
                                <input id="icon_phone2" type="text" class="validate" name="telefono" ng-model="Paquete.tel_receptor">
                                <label for="icon_phone2" class="{{active}}">Teléfono receptor</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s0"><i class="material-icons">local_taxi</i>
                            </div>
                            <div   class="input-field col s4" >
                                <select class="browser-default" name="mySelect" id="mySelect1"
                                        ng-options="ciudad.nombre for ciudad in ciudades track by ciudad.id"
                                        ng-model="Paquete.origen">
                                    <option value="" disabled selected>Seleccione ciudad origen</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">person_pin_circle</i>
                                <input id="icon_pain" type="text" class="validate" name="origen" ng-model="Paquete.direccionO">
                                <label for="icon_pain" class="{{active}}">Dirección origen</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s0"><i class="material-icons">local_taxi</i>
                            </div>
                            <div   class="input-field col s4" >
                                <select class="browser-default" name="mySelect" id="mySelect"
                                        ng-options="ciudad.nombre for ciudad in ciudades track by ciudad.id"
                                        ng-model="Paquete.destino" placeholder="Ciudad destino">
                                    <option value="" disabled selected>Seleccione ciudad destino</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">person_pin_circle</i>
                                <input id="icon_pain2" type="text" class="validate" name="origen" ng-model="Paquete.direccionD">
                                <label for="icon_pain2" class="{{active}}">Dirección destino</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">local_taxi</i>
                                <input id="icon_taxi" type="text" class="validate" name="correo" ng-model="Vehiculo" readonly>
                                <label for="icon_taxi" class="active">Vehiculo en turno</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">card_giftcard</i>
                                <textarea id="icon_giro" type="text" class="validate materialize-textarea" name="descripcion" ng-model="Paquete.descripcion_paquete"></textarea>
                                <label for="icon_giro" class="{{active}}">Descripción del paquete</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
            <a ng-disabled="!formPaquete.$valid"  class="waves-effect waves-light btn green" ng-hide="editMode" ng-click="guardarPaquete()">Guardar</a>
            <a ng-disabled="!formPaquete.$valid"  class="waves-effect waves-light btn green" ng-show="editMode" ng-click="updatePaquete(Paquete.id)">Modificar</a>
        </div>

    </div>
    <!--&#45;&#45;fin modal-->
</div>