
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: "Times New Roman", Times, serif !important;;
    font-size: 14px;
    padding: 3px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: "Times New Roman", Times, serif !important;;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-123c {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;;
    vertical-align: top
}

.tg .tg-g145 {
    font-family: "Times New Roman", Times, serif !important;;
    text-align: center;
    vertical-align: top
}

.tg .tg-smzr {
    font-family: "Times New Roman", Times, serif !important;;
    vertical-align: top
}

.tg .tg-gh1y {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;;
    text-align: center;
    vertical-align: top
}

.tg .tg-baqh {
    text-align: center;
    vertical-align: top
}

.tg .tg-yw4l {
    vertical-align: top
}

.tg .tg-4lem {
    font-family: "Times New Roman", Times, serif !important;;
    text-align: right;
    vertical-align: top
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-9hbo {
    font-weight: bold;
    vertical-align: top
}

.blended_grid {
    display: block;
    width: 100%;
    overflow: auto;
    margin: 10px auto 0 auto;
}

.pageColumnLeft {
    border: solid 1px black;
    border-radius: 15px;
    float: left;
    clear: none;
    width: 400px;
}

.pageColumnMid {
    float: left;
    clear: none;
    height: 10px;
    width: 200px;
}

.pageColumnRight {
    float: left;
    clear: none;
    width: 400px;
}

.tb {
    border-collapse: collapse;
    border-spacing: 0;
}

.tb td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tb th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tb .tb-baqh {
    text-align: center;
    vertical-align: top
}

.tb .tb-lqy6 {
    text-align: right;
    vertical-align: top
}

.tb .tb-yw4l {
    vertical-align: top
}

.tb .tb-9hbo {
    font-weight: bold;
    vertical-align: top
}

.tb .tb-fs7x {
    font-weight: bold;
    font-size: 20px;
    vertical-align: top
}

.tb .tb-rk67 {
    font-weight: bold;
    font-size: 22px;
    vertical-align: top
}

.tb .tb-l2oz {
    font-weight: bold;
    text-align: right;
    vertical-align: top
}
