<div ng-controller="conductoresController as vm" class="contenedor">
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Conductores de la central </h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="tel" ng-model="filtro">
                            <label for="icon_prefix">Filtrar</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3" ng-repeat="conductor in vm.Conductores | filter : filtro">
                        <div class="card" style="width: 100%; height: 300px;">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" ng-src="http://{{conductor.imagen}}" style="width: 100%; height: 200px;">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-6">{{conductor.nombres}}<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Informacion del conductor<i class="material-icons right">close</i></span>
                                <p> <strong>Identificacion :</strong> {{conductor.identificacion}}<br>
                                    <strong>Nombre :</strong> {{conductor.nombres}} {{conductor.apellidos}}</p>
                                <p><strong>Datos de vehiculo:</strong> <br>
                                    <strong>Placa : </strong> {{conductor.vehiculo.placa}} <br>
                                    <strong>Codigo vial :</strong> {{conductor.vehiculo.codigo_vial}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>