<div class="contenedor" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col s12">
            <div class="row white col s12" style="border-radius: 15px;border:2px solid #D50000; width: 100%">
                <table class="striped responsive-table">
                    <thead>
                    <th style="color: #D50000;text-align: center">identificacion</th>
                    <th style="color: #D50000;text-align: center">Nombres y apellidos</th>
                    <th style="color: #D50000;text-align: center">Telefono</th>
                    <th style="color: #D50000;text-align: center">Recoger en</th>
                    <!--<th style="color: #D50000;text-align: center" >Dejar en</th>-->
                    <!--opciones-->
                    <th style="color: #D50000;text-align: center" width="10px"></th>
                    <th style="color: #D50000;text-align: center" width="10px"></th>
                    <th style="color: #D50000;text-align: center" width="10px"></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center"><input style="border: 1px solid black" type="text"
                                                              ng-model="vm.Pasajeros.identificacion"
                                                              ng-blur="vm.getCliente(vm.Pasajeros.identificacion)">
                        </td>
                        <td style="text-align: center"><input style="border: 1px solid black" type="text"
                                                              ng-model="vm.Pasajeros.nombres" required></td>
                        <td style="text-align: center"><input style="border: 1px solid black" type="text"
                                                              ng-model="vm.Pasajeros.telefono" required>
                        </td>
                        <td style="text-align: center"><input style="border: 1px solid black" type="text"
                                                              ng-model="vm.Pasajeros.direccion" required>
                        </td>
                        <!--<td style="text-align: center"><input type="text" ng-model="vm.Pasajeros.direccionD" required></td>-->
                        <td style="text-align: center">
                            <button class="btn waves-effect waves-light green " title="Guardar" id="guardar"
                                    ng-click="vm.asignarPasajero();" disabled=""><i class="material-icons">save</i>
                            </button>
                        </td>
                        <td style="text-align: center">
                            <button class="btn waves-effect waves-light blue" title="Actualizar"
                                    id="actualizar" ng-click="vm.modificarPasajero();" disabled=""><i
                                    class="material-icons">reply</i></button>
                        </td>
                        <td style="text-align: center">
                            <button class="btn waves-effect waves-light red" title="limpiar" id="limpiar"
                                    ng-click="vm.limpiarPasajeros(vm.conductor.id);"><i
                                    class="material-icons">clear</i></button>
                        </td>
                    </tr>
                    <tr ng-repeat="pasajero in vm.listaPasajeros">
                        <td style="text-align: center">{{pasajero.identificacion}}</td>
                        <td style="text-align: center">{{pasajero.nombres}} {{pasajero.cliente.apellidos}}
                        </td>
                        <td style="text-align: center">{{pasajero.telefono}}</td>
                        <td style="text-align: center">{{pasajero.direccion}}</td>
                        <!--<td style="text-align: center">{{pasajero.direccionD}}</td>-->
                        <td style="text-align: center" style="text-align: center;"><a href="javascript:;"
                                                                                      title="Mover pasajero a otro conductor"
                                                                                      ng-click="vm.modalMovePasajero(pasajero);"><i
                                class="material-icons">cached</i></a></td>
                        <td style="text-align: center" style="text-align: center;"><a href="javascript:;"
                                                                                      title="editar"
                                                                                      ng-click="vm.cargarModificarPasajero(pasajero);"><i
                                class="material-icons">create</i></a></td>
                        <td style="text-align: center" style="text-align: center;"><a href="javascript:;"
                                                                                      title="eliminar"
                                                                                      ng-click="vm.eliminarPasajero(pasajero.id)"><i
                                class="material-icons" style="color:#F44336">remove</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>