<div ng-controller="turnosController as vm" class="contenedor" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col s12">
            <div class="row z-depth-1 white col s12"
                 ng-repeat="ruta in vm.rutas">
                <div class="contenedor simpleDemo col s12">
                    <div class="col s7">
                        <div class="row">
                            <div class="col s7"></div>
                            <div class="col s6"><p style="font-size: 20px">{{ruta.destino.ciudad.nombre}}</p></div>
                            <br>
                            <div class="col s4">
                                <a class="btn waves-effect waves-light" ng-click="vm.despacharConductor(ruta.id)">Despachar<i class="material-icons right">send</i></a>
                            </div>
                            <div class="col s1">
                                <a class="btn waves-effect waves-light red" ng-click="vm.addNewConductor(ruta)">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <ul dnd-list="ruta.turnos" class="col s12 collection"
                                dnd-inserted="vm.addConductor(ruta)">
                                <li ng-repeat="turno in ruta.turnos"
                                    dnd-draggable="turno"
                                    dnd-moved="vm.movedConductor(ruta, $index)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="vm.selectedTurno = turno"
                                    dnd-dragend="vm.updateTurnos(ruta)"
                                    class="grey lighten-5 z-depth-1 collection-item">
                                    <div class="row valign-wrapper" style="margin: 0">
                                        <div class="col s1" style="padding-left: 0">
                                            <span class="left" style="margin-right: 5px"><h4>{{turno.turno}}</h4></span>
                                        </div>
                                        <div class="col s2">
                                            <img ng-src="http://{{turno.conductor.imagen}}"  style="width: 60px; height: 60px">
                                        </div>
                                        <div class="col s8">
                                            <span class="title">{{turno.conductor.nombres}} {{turno.conductor.apellidos}}</span>
                                        </div>
                                        <div class="col s1" style="padding: 0 0">
                                            <a class="waves-effect waves-teal" style="float: right" ng-click="vm.remove(ruta, $index)">
                                                <i class="material-icons prefix small" style="color:#c62828">delete</i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="center">
                                        <a  ng-if="vm.servicios.gestion_pasajeros" title="Asignar pasajeros" class="waves-effect waves-teal" ng-click="vm.addPasajero(turno.conductor)" >
                                            <i class="material-icons prefix small">person</i>
                                        </a>
                                        <a ng-if="vm.servicios.giros" title="Asignar giros" class="waves-effect waves-teal" ng-click="vm.addGiro(turno.conductor)">
                                            <i class="material-icons prefix small">attach_money</i>
                                        </a>
                                        <a ng-if="vm.servicios.encomiendas" title="Asignar paquetes" class="waves-effect waves-teal" ng-click="vm.addPaquete(turno.conductor)" >
                                            <i class="material-icons prefix small">redeem</i>
                                        </a>
                                        <a title="Datos del vehiculo" style="float: right" class="waves-effect waves-teal" ng-click="vm.verVehiculo(turno.conductor)" >
                                            <i class="material-icons prefix small">local_taxi</i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col s5">
                        <div class="row">
                            <div class="row col s12"><br><p style="font-size: 20px">Solicitudes</p></div>
                            <table class="striped bordered responsive-table">
                                <thbody>
                                    <tr ng-repeat="algo in ruta.solicitud_pasajeros">
                                        <td><strong>{{algo.datos_pasajeros.length}} Pasajero(s)</strong></td>
                                        <td>
                                            <a class="waves-effect waves-teal" ng-click="vm.getSolicitudPasajero(algo.id)">
                                                <i class="material-icons prefix small">visibility</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="algo in ruta.solicitud_paquetes">
                                        <td><strong>{{algo.detalles.length}} Paquete(s)</strong></td>
                                        <td>
                                            <a class="waves-effect waves-teal" ng-click="vm.getSolicitudPaquete(algo.id)">
                                                <i class="material-icons prefix small">visibility</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="algo in ruta.solicitud_giros">
                                        <td><strong>{{algo.detalles.length}} Giro(s)</strong></td>
                                        <td>
                                            <a class="waves-effect waves-teal" ng-click="vm.getSolicitudGiro(algo.id)">
                                                <i class="material-icons prefix small">visibility</i>
                                            </a>
                                        </td>
                                    </tr>
                                </thbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--modal informacion vehiculo-->
    <div id="modalVehiculo" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;">
        <div class="modal-content">
            <h2>Informacion del vehiculo de: {{vm.conductor.nombres}} {{vm.conductor.apellidos}}</h2>
            <div class="row">
                <div class="col s8">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">payment</i>
                                <input id="icon_payment" type="text" class="validate" name="placa" ng-model="vm.vehiculo.placa" readonly>
                                <label for="icon_payment" class="{{vm.active}}">Placa</label>
                            </div>

                            <div class="input-field col s4">
                                <i class="material-icons prefix">local_taxi</i>
                                <input id="icon_person" type="text" class="validate" name="modelo" ng-model="vm.vehiculo.modelo" readonly>
                                <label for="icon_person" class="{{vm.active}}">Modelo</label>
                            </div>
                            <div class="input-field col s2">
                                <i class="material-icons prefix">airport_shuttle</i>
                                <input id="icon_person4" type="text" class="validate" name="vial"  ng-model="vm.vehiculo.codigo_vial" readonly>
                                <label for="icon_person4" class="{{vm.active}}">C. vial</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <i class="material-icons prefix">payment</i>
                                Documentación del vehículo
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s12">
                                        <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                            <input type="checkbox" ng-model="vm.vehiculo.soat" id="soat" ng-checked="{{vm.vehiculo.soat}}" disabled/>
                                            <label for="soat">SOAT</label>
                                        </p>
                                    </div>
                                    <div class="col s12">
                                        <p>Fecha de vencimiento</p>
                                        <input  type="date" class="datepicker" name="fecha_soat" ng-model="vm.vehiculo.fecha_soat" id="fecha_soat" disabled>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s12">
                                        <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                            <input type="checkbox" ng-model="vm.vehiculo.tecnomecanica" id="tecnomecanica" ng-checked="{{vm.vehiculo.tecnomecanica}}" disabled/>
                                            <label for="tecnomecanica">TECNOMECANICA</label>
                                        </p>
                                    </div>
                                    <div class="col s12">
                                        <p>Fecha de vencimiento</p>
                                        <input type="date" class="datepicker" name="fecha_tecnomecanica" ng-model="vm.vehiculo.fecha_tecnomecanica" id="fecha_tecnomecanica" disabled>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row col s6">
                                <fieldset>
                                    <div class="col s12">
                                        <p style="margin-bottom: 0; margin-top: 0; margin-left: 10px">
                                            <input type="checkbox" ng-model="vm.vehiculo.tarjeta_propiedad" id="tpropiedad" ng-checked="{{vm.vehiculo.tarjeta_propiedad}}" disabled/>
                                            <label for="tpropiedad">TARJETA DE PROPIEDAD</label>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col s4">
                    <div class="col s12" id="imagev" style="max-height: 300px;">
                        <img class="thumb center" id="imagen" style="width:100%" ng-src="http://{{vm.vehiculo.imagen}}" title="imagen" alt="No posee una foto del vehiculo"/>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn col s12" ng-hide="true">
                            <span><i class="mdi-image-photo-camera"></i></span>
                            <input id="files" uploader-model="fileimageV" type="file" name="filesv">
                        </div>
                        <div class="file-path-wrapper">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Salir</a>
        </div>

    </div>
    <!--fin modal informacion vehiculo    -->


    <!--modal buscar conductor-->
    <div id="modalBuscarconductor" class="modal modal-fixed-footer row white" >
        <div class="contenedor modal-content">
            <div class="row">
                <div class="col s7">
                    <h2>Seleccionar conductor</h2>
                </div>
                <div class="col s5">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="tel" ng-model="filtro">
                        <label for="icon_prefix">Filtrar</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="striped responsive-table">
                        <thead>
                        <th>Identificacion</th>
                        <th>Foto</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Seleccionar</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="conductor in vm.Conductores | filter : filtro">
                            <td>{{conductor.identificacion}}</td>
                            <td>
                                <img ng-src="http://{{conductor.imagen}}" class="circle" style="width: 35px;">
                            </td>
                            <td>{{conductor.nombres}}</td>
                            <td>{{conductor.apellidos}}</td>
                            <td>{{conductor.telefono}}</td>
                            <td>
                                <a href="javascript:" ng-click="vm.selectConductor(conductor)">
                                    <i class="material-icons prefix">touch_app</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
        </div>
    </div>


    <!--modal add pasajeros-->
    <div ng-if="vm.servicios.gestion_pasajeros" id="modalAddPasajero" class="modal modal-fixed-footer" style="width: 90%;min-height:85%;" >
        <!--<form action="" name="formPasajero">-->
            <div class="modal-content">
                <h2>Asignar pasajeros a: {{vm.conductor.nombres}} {{vm.conductor.apellidos}}</h2>
                <h2>Cupos disponibles: {{vm.cupos}}</h2>
                <div class="col s12 z-depth-1">
                    <div class="contenedor">
                        <div class="row">
                            <div class="col s12">
                                <table  class="striped responsive-table">
                                    <thead>
                                    <th >identificacion</th>
                                    <th>Nombres y apellidos</th>
                                    <th >Telefono</th>
                                    <th >Recoger en</th>
                                    <!--<th >Dejar en</th>-->
                                    <!--opciones-->
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    </thead>
                                    <tbody>
                                    <tr style="background-color: transparent;">
                                        <td><input type="text" ng-model="vm.Pasajeros.identificacion" ng-blur="vm.getCliente(vm.Pasajeros.identificacion)"></td>
                                        <td><input type="text" ng-model="vm.Pasajeros.nombres" required></td>
                                        <td><input type="text" ng-model="vm.Pasajeros.telefono" required></td>
                                        <td><input type="text" ng-model="vm.Pasajeros.direccion" required></td>
                                        <!--<td><input type="text" ng-model="vm.Pasajeros.direccionD" required></td>-->
                                        <td><button class="btn waves-effect waves-light green " title="Guardar" id="guardar" ng-click="vm.asignarPasajero();" disabled="" ><i class="material-icons">save</i></button></td>
                                        <td><button class="btn waves-effect waves-light blue"  title="Actualizar" id="actualizar" ng-click="vm.modificarPasajero();" disabled="" ><i class="material-icons">reply</i></button></td>
                                        <td><button class="btn waves-effect waves-light red"  title="limpiar" id="limpiar" ng-click="vm.limpiarPasajeros(vm.conductor.id);"><i class="material-icons">clear</i></button></td>
                                    </tr>
                                    <tr ng-repeat ="pasajero in vm.listaPasajeros">
                                        <td>{{pasajero.identificacion}}</td>
                                        <td>{{pasajero.nombres}} {{pasajero.cliente.apellidos}}</td>
                                        <td>{{pasajero.telefono}}</td>
                                        <td>{{pasajero.direccion}}</td>
                                        <!--<td>{{pasajero.direccionD}}</td>-->
                                        <td></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="editar" ng-click="vm.cargarModificarPasajero(pasajero);"><i class="material-icons">create</i></a></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="eliminar" ng-click="vm.eliminarPasajero(pasajero.id)"><i class="material-icons" style="color:#F44336">remove</i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
            </div>
        <!--</form>-->
    </div>
    <!--fin modal add pasajeros-->

    <!--modal asignar giros-->
    <div ng-if="vm.servicios.giros" id="modalAddGiro" class="modal modal-fixed-footer" style="width: 97%;min-height:85%;">
        <!--<form action="" name="formPasajero">-->
            <div class="modal-content">
                <h2>Asignar giros a: {{vm.conductor.nombres}} {{vm.conductor.apellidos}}</h2>
                <div class="col s12 z-depth-1">
                    <div class="contenedor">
                        <div class="row">
                            <div class="col s12">
                                <table  class="striped bordered responsive-table">
                                    <thead>
                                    <th >id remitente</th>
                                    <th>Nombres y apellidos</th>
                                    <th >Telefono</th>
                                    <th >Recoger en</th>
                                    <th >Entregar a</th>
                                    <th>Telefono</th>
                                    <th>Entregar en</th>
                                    <th>Monto</th>
                                    <!--opciones-->
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    </thead>
                                    <tbody>
                                    <tr style="background-color: transparent;">
                                        <td><input type="text" ng-model="vm.Giros.ide_remitente" ng-blur="vm.getCliente(vm.Giros.ide_remitente)"></td>
                                        <td><input type="text" ng-model="vm.Giros.nombres"></td>
                                        <td><input type="text" ng-model="vm.Giros.telefono"></td>
                                        <td><input type="text" ng-model="vm.Giros.direccion"></td>
                                        <td><input type="text" ng-model="vm.Giros.nombre_receptor"></td>
                                        <td><input type="text" ng-model="vm.Giros.telefono_receptor"></td>
                                        <td><input type="text" ng-model="vm.Giros.direccionD"></td>
                                        <td><input type="text" ng-model="vm.Giros.monto"></td>
                                        <td><button class="btn waves-effect waves-light green " title="Guardar" id="guardarG" ng-click="vm.asignarGiro();" disabled="" ><i class="material-icons">save</i></button></td>
                                        <td><button class="btn waves-effect waves-light blue"  title="Actualizar" id="actualizarG" ng-click="vm.modificarGiro();" disabled="" ><i class="material-icons">reply</i></button></td>
                                        <td><button class="btn waves-effect waves-light red"  title="limpiar" id="limpiar" ng-click="vm.limpiarGiros(vm.conductor.id);"><i class="material-icons">clear</i></button></td>
                                    </tr>
                                    <tr ng-repeat ="giro in vm.listaGiros">
                                        <td>{{giro.ide_remitente}}</td>
                                        <td>{{giro.nombres}}</td>
                                        <td>{{giro.telefono}}</td>
                                        <td>{{giro.direccion}}</td>
                                        <td>{{giro.nombre_receptor}}</td>
                                        <td>{{giro.telefono_receptor}}</td>
                                        <td>{{giro.direccionD}}</td>
                                        <td>{{giro.monto | currency}}</td>
                                        <td style="text-align: center;"><a href="javascript:;" title="Mover giro a otro conductor" ng-click="vm.modalMoveGiro(giro);"><i class="material-icons">cached</i></a></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="editar" ng-click="vm.cargarModificarGiro(giro);"><i class="material-icons">create</i></a></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="eliminar" ng-click="vm.eliminarGiro(giro.id)"><i class="material-icons" style="color:#F44336">remove</i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
            </div>
        <!--</form>-->
    </div>
    <!--fin modal asignar giros-->

    <!--modal asignar paquetes-->
    <div ng-if="vm.servicios.encomiendas" id="modalAddPaquetes" class="modal modal-fixed-footer" style="width: 97%;min-height:85%;">
        <!--<form action="" name="formPaquete">-->
            <div class="modal-content">
                <h2>Asignar paquetes a: {{vm.conductor.nombres}} {{vm.conductor.apellidos}}</h2>
                <div class="col s12 z-depth-1">
                    <div class="contenedor">
                        <div class="row">
                            <div class="col s12">
                                <table  class="striped bordered responsive-table">
                                    <thead>
                                    <th >id remitente</th>
                                    <th>Nombres y apellidos</th>
                                    <th >Telefono</th>
                                    <th >Recoger en</th>
                                    <th >Entregar a</th>
                                    <th>Telefono</th>
                                    <th>Entregar en</th>
                                    <th>Descripcion</th>
                                    <!--opciones-->
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    <th width="10px"></th>
                                    </thead>
                                    <tbody>
                                    <tr style="background-color: transparent;">
                                        <td><input type="text" ng-model="vm.Paquetes.ide_remitente" ng-blur="vm.getCliente(vm.Paquetes.ide_remitente)"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.nombres"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.telefono"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.direccion"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.nombre_receptor"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.telefono_receptor"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.direccionD"></td>
                                        <td><input type="text" ng-model="vm.Paquetes.descripcion_paquete"></td>
                                        <td><button class="btn waves-effect waves-light green " title="Guardar" id="guardarP" ng-click="vm.asignarPaquete();" disabled="" ><i class="material-icons">save</i></button></td>
                                        <td><button class="btn waves-effect waves-light blue"  title="Actualizar" id="actualizarP" ng-click="vm.modificarPaquete();" disabled="" ><i class="material-icons">reply</i></button></td>
                                        <td><button class="btn waves-effect waves-light red"  title="limpiar" id="limpiar" ng-click="vm.limpiarPaquetes(vm.conductor.id);"><i class="material-icons">clear</i></button></td>
                                    </tr>
                                    <tr ng-repeat ="paquete in vm.listaPaquetes">
                                        <td>{{paquete.ide_remitente}}</td>
                                        <td>{{paquete.nombres}}</td>
                                        <td>{{paquete.telefono}}</td>
                                        <td>{{paquete.direccion}}</td>
                                        <td>{{paquete.nombre_receptor}}</td>
                                        <td>{{paquete.telefono_receptor}}</td>
                                        <td>{{paquete.direccionD}}</td>
                                        <td>
                                            <a class="waves-effect waves-teal" ng-click="vm.verDescripcionPaquete(paquete)">
                                                <i class="material-icons prefix small">visibility</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;"><a href="javascript:;" title="Mover giro a otro conductor" ng-click="vm.modalMovePaquete(paquete);"><i class="material-icons">cached</i></a></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="editar" ng-click="vm.cargarModificarPaquete(paquete);"><i class="material-icons">create</i></a></td>
                                        <td style="text-align: center;"><a href="javascript:;" title="eliminar" ng-click="vm.eliminarPaquete(paquete.id)"><i class="material-icons" style="color:#F44336">remove</i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
                   style="margin-left:10px;">Salir</a>
            </div>
        <!--</form>-->
    </div>
    <!--fin modal asignar paquetes-->

    <!--modal descripcion-->
    <div id="modalDescripcionPaquete" class="modal">
        <div class="modal-content">
            <h4>Descripcion del paquete</h4>
            <h2>{{vm.Paquete.descripcion_paquete}}</h2>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
        </div>
    </div>
    <!--fin modal descripcion-->

    <!--modal planilla-->
    <div id="modalPlanilla" class="modal" style="width: 90%;min-height:85%;">
        <div id="printDiv"></div>
        <div class="modal-content" id="planilla" >
            <body id="bodyPlanilla">
            <header class="clearfix" id="headerPlanilla">
                <div id="logo">
                    <img ng-src="http://{{vm.userImagen}}">
                </div>
                <h1 id="h1Planilla">PLANILLA N° {{vm.Planilla.viaje.planilla.numero_planilla}}</h1>
                <div id="company" class="clearfix">
                    <div>Cootrasan</div>
                    <div>Fonseca - La Guajira,<br /> Call 13 #21-34</div>
                    <div> 7755813</div>
                </div>
                <div id="project">
                    <div><span>CONDUCTOR: </span> {{vm.Planilla.viaje.planilla.conductor.nombres}} {{vm.Planilla.viaje.planilla.conductor.apellidos}}</div>
                    <div><span>IDENTIFICACION: </span> {{vm.Planilla.viaje.planilla.conductor.identificacion}}</div>
                    <div><span>TELEFONO: </span> {{vm.Planilla.viaje.planilla.conductor.telefono}}</div>
                    <div><span>FECHA: </span> {{vm.Planilla.viaje.viaje.fecha | date}}</div>
                </div>
            </header>
            <main id="mainPlanilla">
                <div class="row">
                    <div class="row"></div>
                    <div class="col s8">
                        <table id="table" class="striped bordered responsive-table">
                            <thead>
                            <tr>
                                <th class="center">IDENTIFICACION</th>
                                <th class="center">NOMBRES Y APELLIDOS</th>
                                <th class="center">TELEFONO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pasajero in vm.Planilla.viaje.planilla.pasajeros" >
                                <td class="center">{{pasajero.identificacion}}</td>
                                <td class="center">{{pasajero.nombres}}</td>
                                <td class="center">{{pasajero.telefono}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s1"><br></div>
                    <div class="col s3">
                        <table id="tableD" class="striped bordered responsive-table">
                            <thead>
                            <tr>
                                <th class="center">DEDUCCION</th>
                                <th class="center">VALOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deduccion in vm.Planilla.viaje.planilla.deducciones">
                                <td class="center">{{deduccion.nombre}}</td>
                                <td class="center">{{deduccion.valor | currency}}</td>
                            </tr>
                            <tr>
                                <td class="center">VALOR TOTAL</td>
                                <td class="center">{{vm.Planilla.total | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            </body>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
            <a href="javascript:;" ng-click="vm.imprimir()" class="waves-effect waves-light btn green"
               style="margin-left:10px;">Imprimir</a>
        </div>
    </div>
    <!--fin modal planilla-->


    <!--modal solicitudes pasajeros-->
    <div id="modalSolicitud" class="modal" style="width: 90%">
        <div class="modal-content" >
            <h2>Solicitud hacia: {{vm.solicitud.ruta.destino.nombre}}</h2>
            <div class="col s12 z-depth-1">
                <div class="contenedor">
                    <div class="row">
                        <div class="row col s6">
                            <h2>Pasajeros para viajar</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Identificacion</th>
                                    <th>Nombre</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pasajero in vm.solicitud.datos_pasajeros">
                                    <td>{{pasajero.identificacion}}</td>
                                    <td>{{pasajero.nombre}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row col s6">
                            <h2>Selecciona al conductor que queires asignarle este pedido</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Turno</th>
                                <th>Identificacion</th>
                                <th>Nombre</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="conductor in vm.solicitud.conductores">
                                    <td>{{conductor.turno}}</td>
                                    <td>{{conductor.conductor.identificacion}}</td>
                                    <td>{{conductor.conductor.nombres}} {{conductor.conductor.apellidos}}</td>
                                    <td><strong>{{conductor.cupos}} cupos disponibles</strong></td>
                                    <td>
                                        <a href="javascript:" ng-click="vm.selectCsolicitud(vm.solicitud.id, conductor.conductor_id)">
                                            <i class="material-icons prefix">touch_app</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;" ng-click="vm.recharSolicitud(vm.solicitud.id)">Rechazar solicitud</a>
        </div>
    </div>

    <!--modal solicitud paquete giros-->
    <div id="modalSolicitudPG" class="modal" style="width: 90%">
        <div class="modal-content" >
            <h2>Solicitud hacia: {{vm.solicitud.ruta.destino.nombre}}</h2>
            <div class="col s12 z-depth-1">
                <div class="contenedor">
                    <div class="row col s12">
                        <div class="row col s6">
                            <h2>Detalles de la solicitud</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Documento</th>
                                <th>Nombre</th>
                                <th>Recoger en</th>
                                <th>Entrega en</th>
                                <th>Telefono</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="detalle in vm.solicitud.detalles">
                                    <td>{{detalle.identificacion}}</td>
                                    <td>{{detalle.destinatario}}</td>
                                    <td>{{vm.solicitud.direccion_recogida}}</td>
                                    <td>{{detalle.direccion}}</td>
                                    <td>{{detalle.telefono}}</td>
                                    <tr>
                                    <div ng-show="vm.solicitud.tipo == 'giro'">
                                        <h2>Monto</h2>
                                        {{detalle.descripcion | currency}}
                                    </div>
                                    <div ng-show="vm.solicitud.tipo == 'paquete'">
                                        <h2>Descripcion</h2>
                                        {{detalle.descripcion}}
                                    </div>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row col s6">
                            <h2>Selecciona al conductor que queires asignarle este pedido</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Turno</th>
                                <th>Identificacion</th>
                                <th>Nombre</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="conductor in vm.solicitud.conductores">
                                    <td>{{conductor.turno}}</td>
                                    <td>{{conductor.conductor.identificacion}}</td>
                                    <td>{{conductor.conductor.nombres}} {{conductor.conductor.apellidos}}</td>
                                    <td><strong>{{conductor.cupos}} cupo(s) restantes para salir</strong></td>
                                    <td>
                                        <a href="javascript:" ng-click="vm.selectCsolicitud(vm.solicitud.id, conductor.conductor_id)">
                                            <i class="material-icons prefix">touch_app</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;" ng-click="vm.recharSolicitud(vm.solicitud.id)">Rechazar solicitud</a>
        </div>
    </div>
    <!--fin modal solicitud paquete giro-->


    <!--modal cambair conductor-->
    <div id="modalMoveGiro" class="modal" style="width: 90%">
        <div class="modal-content" >
            <h2>Solicitud hacia: {{vm.solicitud.ruta.destino.nombre}}</h2>
            <div class="col s12 z-depth-1">
                <div class="contenedor">
                    <div class="row col s12">
                        <div class="row col s6">
                            <h2>Detalles del giro</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Recoger en</th>
                                <th>Entrega en</th>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{vm.giro.nombre_receptor}}</td>
                                    <td>{{vm.giro.telefono_receptor}}</td>
                                    <td>{{vm.giro.direccion}}</td>
                                    <td>{{vm.giro.direccionD}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <h2>Monto</h2>
                                {{vm.giro.monto | currency}}
                            </div>
                        </div>
                        <div class="row col s6">
                            <h2><p><strong>Selecciona al conductor para cambiar el pedido</strong></p></h2>
                            <div ng-repeat="ruta in vm.crutas">
                                <div ng-show="ruta.turnos.length > 0">
                                    <h2>{{ruta.destino.ciudad.nombre}}</h2>
                                    <table class="striped bordered responsive-table">
                                        <thead>
                                        <th>Turno</th>
                                        <th>Identificacion</th>
                                        <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="turno in ruta.turnos">
                                            <td>{{turno.turno}}</td>
                                            <td>{{turno.conductor.identificacion}}</td>
                                            <td>{{turno.conductor.nombres}} {{turno.conductor.apellidos}}</td>
                                            <!--<td><strong>{{conductor.cupos}} cupo(s) restantes para salir</strong></td>-->
                                            <td>
                                                <a href="javascript:" ng-click="vm.moverGiro(vm.giro.id, turno.conductor.id)">
                                                    <i class="material-icons prefix">touch_app</i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
        </div>
    </div>
    <!--fin modal cambiar giro conductor-->

    <!--modal cambiar paquete conductor-->
    <div id="modalMovePaquete" class="modal" style="width: 90%">
        <div class="modal-content" >
            <h2>Solicitud hacia: {{vm.solicitud.ruta.destino.nombre}}</h2>
            <div class="col s12 z-depth-1">
                <div class="contenedor">
                    <div class="row col s12">
                        <div class="row col s6">
                            <h2>Detalles del paquete</h2>
                            <table  class="striped bordered responsive-table">
                                <thead>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Recoger en</th>
                                <th>Entrega en</th>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{vm.paquete.nombre_receptor}}</td>
                                    <td>{{vm.paquete.telefono_receptor}}</td>
                                    <td>{{vm.paquete.direccion}}</td>
                                    <td>{{vm.paquete.direccionD}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <h2>Descripcion</h2>
                                {{vm.paquete.descripcion}}
                            </div>
                        </div>
                        <div class="row col s6">
                            <h2><p><strong>Selecciona al conductor para cambiar el pedido</strong></p></h2>
                            <div ng-repeat="ruta in vm.crutas">
                                <div ng-show="ruta.turnos.length > 0">
                                    <h2>{{ruta.destino.ciudad.nombre}}</h2>
                                    <table class="striped bordered responsive-table">
                                        <thead>
                                        <th>Turno</th>
                                        <th>Identificacion</th>
                                        <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="turno in ruta.turnos">
                                            <td>{{turno.turno}}</td>
                                            <td>{{turno.conductor.identificacion}}</td>
                                            <td>{{turno.conductor.nombres}} {{turno.conductor.apellidos}}</td>
                                            <!--<td><strong>{{conductor.cupos}} cupo(s) restantes para salir</strong></td>-->
                                            <td>
                                                <a href="javascript:" ng-click="vm.moverPaquete(vm.paquete.id, turno.conductor.id)">
                                                    <i class="material-icons prefix">touch_app</i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px;">Salir</a>
        </div>
    </div>
    <!--fin modal cambiar paquete conductor-->
</div>