<div ng-controller="CentralesEmpresaController as vm" class="contenedor">
    <div class="row">
        <div class="col s12" >
            <div class="row white col s12" style="border-radius: 15px; border:2px solid #D50000; width: 100%">
                <div class="contenedor">
                    <div class="row">
                        <div class="col s8">
                            <a href="#/gestionar_empresas" class="waves-effect waves-teal waves-light btn-flat" style="float: left; padding: 0 0">
                                <i class="material-icons red-text text-accent-4" style="font-size: 26px;">arrow_back</i></a>
                            <h2 style="padding-left: 20px; margin: 0 0; padding-top: 3px">Centrales {{vm.empresa.nombre}}</h2>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12 grey lighten-3" style="padding: .5em; border-radius: 15px; height: 37px; border: none">
                                <i class="material-icons prefix" style="color: #D50000;">search</i>
                                <input  id="icon_prefix" type="text" ng-model="filtro">
                                <label for="icon_prefix">Buscar</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="striped bordered responsive-table">
                                <thead>
                                <th style="color: #D50000; text-align: center">Id</th>
                                <th style="color: #D50000; text-align: center">Ciudad</th>
                                <th style="color: #D50000; text-align: center">Direccion</th>
                                <th style="color: #D50000; text-align: center">Telefono</th>
                                <th style="color: #D50000; text-align: center"></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="central in vm.centrales| filter : filtro">
                                    <td style="text-align: center">{{central.id}}</td>
                                    <td style="text-align: center">{{central.ciudad.nombre}}</td>
                                    <td style="text-align: center">{{central.direccion}}</td>
                                    <td style="text-align: center">{{central.telefono}}</td>
                                    <td style="text-align: center">
                                        <a href="javascript:" ng-click="vm.actualizar(central)">
                                            <i style="color: #9ccc65" class="material-icons prefix">visibility</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--modal nuevo central-->
    <div id="modalNuevaCentral" class="modal modal-fixed-footer" style="width: 80%;min-height:80%;">
        <div class="modal-content">
            <div class="row">
                <form class="col s12" name="formNuevaCentral">
                    <div class="col s4">
                        <div class="row">
                            <div class="row input-field col s12">
                                <i style="color: #D50000" class="material-icons prefix">local_taxi</i>
                                <input id="ciudad" type="text" class="validate" name="ciudad" ng-model="vm.selectedCentral.ciudad.nombre" readonly required>
                                <label for="ciudad" class="active">Ciudad</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row input-field col s12">
                                <i style="color: #D50000" class="material-icons prefix">invert_colors_off</i>
                                <input id="direccion" type="text" class="validate" name="direccion"  ng-model="vm.selectedCentral.direccion" readonly required>
                                <label for="direccion" class="active">Direccion</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i style="color: #D50000" class="material-icons prefix">airline_seat_recline_normal</i>
                                <input id="telefono" type="text" class="validate" name="telefono" ng-model="vm.selectedCentral.telefono" readonly required>
                                <label for="telefono" class="active">Telefono</label>
                            </div>
                        </div>
                    </div>

                    <!--mapa-->
                    <div class="col s8" >

                        <div id="dvMap" style="height: 400px; width: 600px;border-radius: 25px"></div>

                    </div>
                    <!--fin mapa-->

                </form>
            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red accent-4" style="border-radius: 25px; margin-left:10px;">Salir</a>
        </div>

    </div>
</div>