<style>
    .angular-google-map-container {
        /*position: absolute;*/
        /*top: 0;*/
        /*bottom: 0;*/
        /*right: 0;*/
        /*left: 0;*/
        width: 82.8%;
        height: 85%
        /*max-width: (100%-220px);*/
    }
</style>
<section>
    <div class="section-body contain-lg" >
        <div ng-controller="mapaController as vm" class="">
            <div class="" ng-show="vm.mostrar"   id="map_canvas">
                <div >
                    <ui-gmap-google-map
                            center='vm.map.center'
                            zoom='vm.map.zoom' aria-label="Google map"
                            control="vm.map.control">
                        <ui-gmap-markers models="vm.markers"
                                         coords="'self'"
                                         options="'self'"
                                         modelsbyref="false"
                                         dorebuildall="true">
                            <ui-gmap-windows>
                                <div ng-non-bindable>
                                    <div ><img src="http://{{window.cImagen}}" title="{{window.cNombres}}" style="width: 150px;height: 120px;" />
                                    </div><div class="contentTxt">
                                    <h2 class="center"><strong >Movil: {{window.cCvehiculo}}</strong></h2>
                                    <p class="center"><strong> {{window.cNombres}} <br>  {{window.cApellidos}}</strong></p>
                                    <p class="center"><strong>Telefono: {{window.cTelefono}}</strong> </p>
                                </div><div class="clear"></div></div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>

                    </ui-gmap-google-map>
                </div>
            </div>
            <div class="row" >
                <div class="col s12" >
                    <ul>
                        <li class="tab col s12 active"><a href="javascript:;" ng-click="vm.central()">{{ruta.destino.ciudad.nombre}}</a></li>
                    </ul>
                    <ul class="tabs valign-wrapper z-depth-2" >
                        <li  class="tab col s12 active" ng-repeat="ruta in vm.rutas"><a href="javascript:;" ng-click="vm.prueba(ruta.id)">{{ruta.destino.ciudad.nombre}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style rel="stylesheet">
    /*ul.tabs {*/
        /*flex-direction: column;*/
        /*height: 100%;*/
        /*float: left;*/
        /*width: 20%;*/
        /*padding-left: 15px;*/
    /*}*/
</style>
<script type="application/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>