<div ng-controller="planillaController as vm" class="contenedor">
    <div class="row white" style="border-radius: 15px">
        <div class="col s12 z-depth-1" style="border-radius: 15px">
            <div class="contenedor">
                <div class="row">
                    <div class="col s8">
                        <h2>Planillas</h2>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12" style="padding: .5em">
                            <i class="material-icons prefix" style="color: red;">search</i>
                            <input style="border-radius: 15px; " class="grey lighten-3" id="icon_prefix" type="text" ng-model="filtro">
                            <label for="icon_prefix">Buscar</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12" >
                        <table class="striped responsive-table">
                            <thead style="border-bottom: red">
                            <th style="color: red;text-align: center">Número de planilla</th>
                            <th style="color: red;text-align: center">Valor</th>
                            <th style="color: red;text-align: center">Acciones</th>
                            </thead>
                            <tbody >
                            <tr ng-repeat="planilla in vm.planillas | filter : filtro">
                                <td style="text-align: center">{{planilla.numero_planilla}}</td>
                                <td style="text-align: center">{{planilla.total | currency}}</td>
                                <td style="text-align: center">
                                    <a href="javascript:" ng-click="vm.verPlanilla(planilla)">
                                        <i style="color: red" class="material-icons prefix">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal planilla-->
    <div id="modalPlanilla" class="modal" style="width: 90%;min-height:85%; border-radius: 15px">
        <div class="modal-content" id="planilla" >
            <body id="bodyPlanilla">
             <header class="clearfix" id="headerPlanilla">
                <!--<div id="logo">-->
                    <!--<img alt="image"-->
                         <!--ng-src="http://{{vm.userImagen}}" width="90px;">-->
                <!--</div>-->
                 <div style="border-radius: 15px; width: 30%;margin: 0 auto;" class="red accent-4">
                     <h1 id="h1Planilla" class="white-text">PLANILLA N° {{vm.planilla.numero_planilla}}</h1>
                 </div>
                <div id="company" class="clearfix">
                    <div>Cootrasan</div>
                    <div>Fonseca - La Guajira,<br /> Call 13 #21-34</div>
                    <div> 7755813</div>
                </div>
                <div id="project">
                    <div><span>CONDUCTOR: </span> {{vm.planilla.conductor.nombres}} {{vm.planilla.conductor.apellidos}}</div>
                    <div><span>IDENTIFICACION: </span> {{vm.planilla.conductor.identificacion}}</div>
                    <div><span>TELEFONO: </span> {{vm.planilla.conductor.telefono}}</div>
                    <div><span>FECHA: </span> {{vm.planilla.viaje.fecha | date}}</div>
                </div>
            </header>
            <main id="mainPlanilla">
                <div class="row">
                    <div class="row"></div>
                    <div class="col s8">
                        <table id="table" class="striped responsive-table">
                            <thead>
                            <tr>
                                <th style="color: red" class="center">IDENTIFICACION</th>
                                <th style="color: red" class="center">NOMBRES Y APELLIDOS</th>
                                <th style="color: red" class="center">TELEFONO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pasajero in vm.planilla.pasajeros" >
                                <td class="center">{{pasajero.identificacion}}</td>
                                <td class="center">{{pasajero.nombres}}</td>
                                <td class="center">{{pasajero.telefono}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s1"><br></div>
                    <div class="col s3">
                        <table id="tableD" class="striped responsive-table">
                            <thead>
                            <tr>
                                <th style="color: red" class="center">DEDUCCION</th>
                                <th style="color: red" class="center">VALOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="deduccion in vm.planilla.deducciones">
                                <td class="center">{{deduccion.nombre}}</td>
                                <td class="center">{{deduccion.valor | currency}}</td>
                            </tr>
                            <tr>
                                <td class="center">VALOR TOTAL</td>
                                <td class="center">{{vm.planilla.total | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            </body>
        </div>

        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red"
               style="margin-left:10px; border-radius: 15px">Salir</a>
            <a href="javascript:;" ng-click="vm.imprimir()" class="waves-effect waves-light btn green"
               style="margin-left:10px; border-radius: 15px">Imprimir</a>
        </div>
    </div>
    <!--fin modal planilla-->
</div>

<script>
    $(document).ready(function(){
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
</script>
